{% extends 'opening_old/meloncoveredsliderbase.html' %}

{% block slide_1_block %}

    {% load static %}

<style>
    
      .contact-holder{
        position:absolute;
        width:100%;
        min-width: 330px;
        height:900px;
        z-index:0;
        border-radius: 10px;
        margin-top:0;
        background-color: black;
        opacity: 0.8;
    }
    

   
    .ani-frame{
            width:96%;
        height:96%;
        position:relative;
        left:2%;
        right:2%;
        top:2%;
        border:none;
        
        
        }
    
    
    .slider_titlo_text{
        text-align: center;
    }
    
    .con-butty{
        margin:0 auto;
        margin-top:40px;
    }
    
    .bing{
        background-color: black;
        }
    
    
    .bingpot{
        background-color:#2A2A2A;
        
    }
    
    .slider_titlo{
        border-width:0;
        border-bottom:2px;
        border-style: solid;
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
    .media-links-div{
       
        background-color: #28112B;
    }
    
    .tele-slider-block-hold{
       
        position:relative;
        background-color: #d2dfcc;
        height:200px;
        width:50%;
        overflow: hidden;
        margin-left:25%;
        border-radius:8px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
    
  

    .gaurdian-link{
        background-image:url("{% static 'photos/diag.png' %}");
        background-size: cover;
        
       
    }
    
    .review-holder{
     
        width: 100%;
    
        padding:8px;
        color:black;
        
        border:0;
        border-style:solid;
        border-width:2px;
        border-top:0;
        border-left:0;
        border-right:0;
       
        
    }
    
    #top-texxt{
     
    }
    
    .sunday_holder{
       
     
    }
    
      .daily_holder{
       
   
     
    }
    
    .sunday-rev{
      text-align:center;
        margin-top:5px;
        width:300px;
        float:right;
         margin-right:25px;
        
    }
    
    .daily-rev{
        float:right;
        width: 300px;
        padding-top:20px;
         margin-right:25px;
        text-align:center;
    }
    
    .i-d-rev{
        float:right;
        width: 300px;
        padding-top:5px;
         margin-right:25px;
        text-align:center;
        
    }
    
    
     
    .times-rev{
       
        padding-top:15px;
        margin-right:25px;
        text-align:center;
        
        
    }
    
    .independent-rev{
       text-align:center;
         width: 300px;
    margin-top:10px;
        float:right;
        margin-right:15px;
    }
    
    .observer-rev{
       text-align:center;
        width: 300px;
            float:right;
        margin-right:15px;
    }
    
    
    .sunday-link{
        height:22px;
        width:115px;
        background-image:url("{% static 'old-photos/sunday_times.png' %}");
        background-size: cover;
        float:left;
        margin-left:15px;
       
    }
    
    .observer-link{
        height:30px;
        width:30px;
        background-image:url("{% static 'old-photos/gaurdian.png' %}");
        background-size: cover;
        float:left;
         margin-left:15px;
         
         
       
    }
    
     .daily-link{
        height:30px;
        width:30px;
        background-image:url("{% static 'old-photos/daily_mail.png' %}");
        background-size: cover;
        float:left;
          margin-left:15px;
         
         
       
    }
    
    .i-d-link{
        height:20px;
        width:32px;
        background-image:url("{% static 'old-photos/ID.png' %}");
        background-size: cover;
        float:left;
         margin-left:15px;
         
         
       
    }
    
    
    
      .times-link{
        height:30px;
        width:30px;
        background-image:url("{% static 'old-photos/times.png' %}");
        background-size: cover;
        float:left;
           margin-left:15px;
         
         
       
    }
    
     .independent-link{
      
        background-image:url("{% static 'old-photos/independent.png' %}");
        background-size: cover;
        margin:0 auto;
        height:30px;
        width:100px;
        float:left;
          margin-left:15px;
       
         
         
       
    }
    
    
    .review-div{

        width:100%;
        height:420px;
        border-color:black;
        border:0px;
        border-radius:5px;
        border-style: solid;
     
        /*background-color: #E6E6E9;
          
            #2A2A72;*/
        margin:0 auto;
        margin-bottom:0;
        padding-bottom:0;
        padding:8px;
        color:black;
         
      
    }
    
    .smaller-text{
        font-size:80%;
    }
    
    .right_holder{
        float:right;
    }
    
    .left_holder{
        float:left;
    }
    
    .clear_floats{
        
        clear:both;
    }
    
    .top-rev{
        height:100px;
    }
    
    #slide_1_hold{
        height:610px;
    }
    
    .abcd{
        text-align:center;
    }
    
    .justy{
        text-align: justify;
    }
    
    
    .review-text-hold{
         float:right;
        width: 75%;
        text-align:center;
    }
    .review-text-hold-long{
         float:right;
        width: 65%;
        text-align:center;
    }
    
   
   
    
</style>


<div class = "opac-div" id = "slide_1_hold">

  <div class="slider_titlo">
            <span class="slider_titlo_text" ><h1>Eroica st John Mildmay
</h1></span>
      <div class = "tele-slider-block-hold">
      {% block tele-test %}
      {% endblock %}
          </div>
      
      <span class="slider_titlo_text" id = "top-texxt"><h1>Lines of Communication
</h1></span>
           
          </div>


<div class = "review-div">

<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev review-text-hold-long">
    <p class = "smaller-text"><b>A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine...’ </b></p>
      </div>

              </div>
    
     <div class = "clear_floats"></div>
    <div class = "independent_holder review-holder left_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev review-text-hold">
    <p class = "smaller-text">‘Rarely less than entertaining, and that’s some achievement’

 <p>
    </div>
    
    
 

              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘Eroica Mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons’ 
 <p>
    </div>
    
 

              </div>
     <div class = "clear_floats"></div>
    <div class = "daily_holder review-holder left_holder">
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’
 <p>
    </div>
    
     <div class = "daily-link rev-link">

              </div>
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
    <div class= "i-d-rev review-text-hold">
    <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’

 <p>
    </div>
    
     <div class = "i-d-link rev-link">

              </div>
 

              </div>
     <div class = "clear_floats"></div>
    <div class = "daily_holder review-holder left_holder">
    <div class= "times-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism’

 <p>
    </div>
    
     <div class = "times-link rev-link">

              </div>
 

              </div>

 



    
    </div>

    
</div>



{% endblock %}

{% block slide_2_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo">
            <span class="slider_titlo_text"><h1>About</h1></span>
           
          </div>
         
     

          <p class="news__txt justy">
            
        Eroica was born in London and grew up in Africa, specifically Cameroon, Libya and Senegal and has travelled extensively out from those countries to other parts of Africa too. At certain points in her life she has needed to speak Pigeon English, (Cameroon) Arabic and Italian (Libya) and Wolof and French (Senegal) just to make friends! However only French has remained in her system as a regularly used language. Her enthusiasm for travelling and other cultures has taken her to many other world destinations throughout her adult life since then as well. <br><br>

Returning from living in Africa to the UK in her teens, she attended Cheltenham Art College, specializing in sculpture. She then became a model after being spotted in the street in Berkley Square, going on to work in London, Paris, Milan, Hamburg and Munich on the catwalk and on press photoshoots. She has lived full-time in both Milan and Paris during this period. She then had her own fashion styling business based in London with an extensive client base, also both at home and abroad. She moved over to writing after that, attending the University of East Anglia as a mature student, completing a BA Hons Degree in Creative Writing and English Literature to improve her craft. 
              
         

          </p>

         

</div>
{% endblock %}

{% block slide_3_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo">
            <span class="slider_titlo_text"><h1>Background</h1></span>
           
          </div>
         
     

          <p class="news__txt justy">
            
      columnist
Eroica Mildmay has had column for eighteen months for The Telegraph.co.uk called Notes from a Norfolk Broad, which was a humorously rumbustious and much-read countryside-based column with a dedicated readership both here in the UK and around the world.<br><br>

features writer  /& journalist
Eroica Mildmay was a features writer for North Norfolk Living Magazine for five years covering all sorts of subjects, interviewing, sometimes taking part (as in wild swimming, microlight flying, deep-sea fishing, driving a Royal National Lifeboat Institution (RNLI) Atlantic 75 Rescue Lifeboat out at sea, etc. etc.) also photographing exclusively for the articles and obviously writing the finished product. She had an extensive and dedicated readership in North Norfolk and beyond.<br><br>
novelist
Eroica Mildmay has published two novels. Her first Lucker and Tiffany Peel Out came out to excellent critical reviews in most of the leading broadsheets, tabloid newspapers and magazines here in the UK. Lucker and Tiffany Peel Out was also translated into several different languages for the foreign market and optioned for potential film production. Her second novella Home to Angel Cake was also equally positively reviewed. She has published a selection of short stories, including sci-fi, many of which have also been translated into foreign languages as well. 
Eroica has just completed a third novel, The Day Gone.

              
         

          </p>

         

</div>
{% endblock %}

{% block slide_4_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo">
            <span class="slider_titlo_text"><h1>Freelance Copywriter</h1></span>
           
          </div>
         
     

          <p class="news__txt justy">
            

Eroica St John Mildmay is a professional writer, experienced in several different genres, having worked as a features writer, journalist in broadcast comedy and as a published novelist and short story writer. She has a fresh, original and imaginative, creative approach to copy, and her manner of delivery and thorough writing style is incisive, crisp, punchy and perceptive. Informative and inventively descriptive all at once, her writing skills and experience lend life and clarity to even the most basic of briefs. <br><br>
              
<span>What’s wanted?</span><br><br>
Bang-up-to-date, cutting-edge copy? Or perhaps a more traditional and classic style of prose is required? Or crisp formality, known formulas, brochures, instruction manuals or perhaps even historical context? Or perhaps comedy (as Eroica is in possession of a sharp wit)? Original thinking, one-off inventiveness, character-speak or gentle humorous asides, all do-able. Or just plain-speaking no-frills, everyday copy? Over to you . . .<br><br>

Can do this!<br><br>
Responsive and communicative – and with communication being the absolute key, Eroica is able to work from even the flimsiest of ideas and enhance and flesh out core ideas into startling and attention-grabbing copy to suit. But, if something more low-key is required that’s fine too. Good observational skills and picking up the idea immediately is essential in this line of work, as are excellent on-board proof-reading skills and attention to the overall presentation. Eroica’s work is always highly-finished and delivered in a timely fashion, as required. The challenge is the fun part and the satisfaction comes in doing an outstanding job to a very high standard.

              
         

          </p>

         

</div>
{% endblock %}




{% block slide_5_block %}

<div class="slider_titlo">
            <span class="slider_titlo_text"><h1>Contact</h1></span>
           
          </div>




<p class="news__txt abcd"> Feel free to contact me!<br><br>
    
    <i class="fas fa-envelope"></i> eroica@eroicamildmay.com <br>
    <i class="fas fa-mobile"></i> 07876 404454 <br> <br>
    Alternatively, contact me using the tool below:
</p>


   
    <button class = "btn btn-primary con-butty">Use The Quick Contact Tool</button>
      
 
    
{% endblock %}








