{% block slide_1_block %}




<div class = "opac-div" id = "slide_1_hold">
    
    <div class = "v2-left">
        
          <div class="slider_titlob">
            <span class="slider_titlo_text ll" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      <div class = "tele-blckv1">
      <div class = "tele-slider-block-holdv1">
        {% block new-featureq %}
        {% endblock %}
          
          </div>
         
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    </div>
    
    
     <div class = "v2-right">
         
           <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         
    
         <div class = "review-div">

<div class = "sunday_holder review-holderv1 right_holder">
    
    <div class= "sunday-rev">
    <p class = "smaller-text">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’<b> The Sunday Times</b></p>
      </div>

              </div>
             
              <div class = "clear_floats"></div>
    

    <div class = "independent_holder review-holderv1 right_holder">
        
       
    <div class= "independent-rev">
        <p class = "smaller-text">‘Rarely less than entertaining, and that’s some achievement ...’ <b>The Independent</b>

 <p>
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holderv1 right_holder">
    
    
    
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’<b> The Observer</b>
 <p>
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holderv1 right_holder">
       
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’ <b>The Daily Mail</b>
 <p>
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holderv1 right_holder">
     
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’<b> ID Magazine</b>

 <p>
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holderv1 right_holder">
         
    
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ <b>Times Literature Review</b>

 <p>
    </div>
   
 

              </div>

 



    
    </div>
         
    </div>


    
  
   




    
</div>



{% endblock %}

{% block v1 %}


<div class = "opac-div" id = "slide_1_hold">
    
    <div class = "v2-left">
        
          <div class="slider_titlob widfs">
            <span class="slider_titlo_text" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      
      <div class = "tele-blck">
      <div class = "tele-slider-block-hold">
        {% block new-featurd %}
        {% endblock %}
          
          </div>
          
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    </div>
    
    
     <div class = "v2-right">
         
           <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         
    
         <div class = "review-div">

<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text ">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text ">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>  
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign"><b>The Observer</b></p>  
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign"><b>The Daily Mail</b></p>  
 
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "smaller-text pub-sign"><b>ID Magazine</b></p>  
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>Times Literary Review</b></p>  

 
    </div>
   
 

              </div>
 



    
    </div>
         
    </div>


    
  
   




    
</div>



{% endblock %}

{% block version_two %}

<div class = "opac-div" id = "slide_1_hold">

  <div class="slider_titlob wide-divr">
            <span class="slider_titlo_text titlo-left" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      <div class = "titlo-right">
      <div class = "tele-slider-block-hold">
        {% block new-featuro %}
        {% endblock %}
          
          </div>
          <span class="slider_titlo_text" id = "top-texxt"><h5>lines of communication
              </h5></span>
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         <div class = "clear_floats"></div>
   


<div class = "review-div">


<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text ">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text ">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>  
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign"><b>The Observer</b></p>  
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign"><b>The Daily Mail</b></p>  
 
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "smaller-text pub-sign"><b>ID Magazine</b></p>  
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>Times Literary Review</b></p>  

 
    </div>
   
 

              </div>

 



    
    </div>

    
</div>

{% endblock %}
