{% extends 'opening/melon_covered_slider_base.html' %}







{% block slide_jn_block %}

    {% load static %}

<style>
    
      .contact-holder{
        position:absolute;
        width:100%;
        min-width: 330px;
        height:900px;
        z-index:0;
        border-radius: 10px;
        margin-top:0;
        background-color: black;
        opacity: 0.8;
    }
    

   
    .ani-frame{
            width:96%;
        height:96%;
        position:relative;
        left:2%;
        right:2%;
        top:2%;
        border:none;
        
        
        }
    
    
    .slider_titlo_text{
        text-align: center;
    }
    
    .con-butty{
        margin:0 auto;
        margin-top:40px;
    }
    
    .bing{
        background-color: black;
        }
    
    
    .bingpot{
        background-color:#2A2A2A;
        
    }
    
    .slider_titlo{
        border-width:0;
        border-bottom:2px;
        border-style: solid;
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
     .slider_titlob{
        border-width:0;
       
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
    .americano{
         font-family: 'American Typewriter', serif;
    }
    
    .media-links-div{
       
        background-color: #28112B;
    }
    
    .tele-slider-block-hold{
       
        position:relative;
        background-color: #d2dfcc;
        height:199px;
        width:335px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
    
     .tele-slider-block-hold-b{
       
        position:relative;
        background-color: #d2dfcc;
        height:270px;
        width:450px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
    
     .tele-slider-block-holdv1{
       
        position:relative;
        background-color: #d2dfcc;
        height:299px;  
        width:502px;   
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        border-radius:15px;
        
    }
    
    
    .eroica-photo{
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
         border-radius:8px;
        background-image:url("{% static 'photos/eroica.jpg' %}");
        background-size: contain;
        background-repeat: no-repeat;
         margin-top:20px;
        float:left;
        width:320px;
        height:410px;
        margin-bottom:10px;
        
        
    }
    
  

    .gaurdian-link{
        background-image:url("{% static 'photos/gaurdian.png' %}");
        background-size: cover;
        
       
    }
    
    .review-holder{
     
        width: 40%;
    
        padding:8px;
        color:black;
        
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        padding-bottom:0;
        margin-bottom:0;
        margin-top:0;
        

        
    }
    
    .review-holderv1{
     
        width: 80%;
        padding:8px;
        color:black;
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        padding-bottom:0;
        margin:0;
        

        
    }
    
    #top-texxt{
     
    }
    
    .sunday_holder{
    
    margin-left:5%;
    
    margin-bottom:0;
        
     
    }
    
    .independent_holder{
        margin-right:5%;
        padding-bottom:2px;
        margin-bottom:0;
       
    }
    
      .daily_holder{
      
       margin-top:0;
   
     
    }
    
     .tls_holder{
      
       margin-top:-5px;
   
     
    }
    
    .daily_holder2{
      
       margin-top:0px;
   
     
    }
    
    .single-line-rev-a{
        height:60px;
        background-color: blue;
    }
    
    
     
    
    .sunday-rev{
        text-align:center;
        padding-top:0px;
        width:75%;
        float:right;
        
        
        
    }
    
    .daily-rev{
        float:right;
        width: 80%;
        padding-top:20px;
        text-align:center;
    }
    
    .i-d-rev{
        float:right;
        width: 80%;
        padding-top:5px;
        text-align:center;
        
    }
    
    
     
    .times-rev{
       
        padding-top:15px;
        width:80%;
        text-align:center;
        float:Right;
   
        
    }
    
    .tls-rev{
       
        padding-top:10px;
        width:80%;
        text-align:center;
        float:Right;
        padding-bottom:0;
        margin-bottom:0;
   
        
    }
    
    .independent-rev{
       text-align:center;
        float:right;
         width: 75%;
        padding-top:6px;
        padding-bottom:0;
        
    }
    
    
    
    .observer-rev{
       text-align:center;
        width: 80%;
        float:right;
        margin-top:10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        
        
        
    }
    
    
    .sunday-link{
        height:55px;
        width:103px;
        background-image:url("{% static 'photos/sunny.png' %}");
        background-size: contain;
        float:left;
         background-repeat: no-repeat;
         background-repeat: no-repeat;
        z-index:999999999999999999999;
        margin-top:-4px;
        margin-left:-20px;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        
       
    }
    
    .telegraph-back{
        background-image:url("{% static 'photos/telegraph2.jpg' %}");
        z-index:9999999999999999;
        background-size: contain;
        background-repeat: no-repeat;
        position:absolute;
        height:20px;
        width:150px;
        color:white;
       
        
    }
    
    .observer-link{
        height:58px;
        width:44px;
        background-image:url("{% static 'photos/oby.jpg' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
        
        border-radius:15px;

        margin-top:-13px;
        margin-left:5px;
         z-index:999999999999999999999999999999;
        
         
         
       
    }
    
    .centered-butt{
        margin:0 auto;
  
        width:205px;
    }
    
     .daily-link{
        height:80px;
        width:80px;
        background-image:url("{% static 'photos/daily_mail.png' %}");
        background-size:contain;
        position:relative;
         
        background-repeat: no-repeat;
         float:left;
         margin-left: -15px;
         margin-top:-16px;
         z-index:999999999999999999999;
        
        
      
         
         
       
    }
    
    .i-d-link{
        height:40px;
        width:65px;
        margin-top:0px;
        background-image:url("{% static 'photos/ID.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
        z-index:999999999999999999999;
        
         
    }
    
    .tls-link{
        height:50px;
        width:20%;
        background-image:url("{% static 'photos/times.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
        z-index:999999999999999999999;
         
           
         
         
       
    }
    
    
    
      
    
    
     .independent-link{
        height:60px;
        width:110px;
        background-image:url("{% static 'photos/independent.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
         z-index:999999999999999999999;
        
        margin-left:-20px;
   
          
       
         
         
       
    }
    
    .cleario{
        clear:both;
        background-color: blue;
        margin:0;
        padding:0;
    }
    
    
    .review-div{

        width:100%;
   
        border-color:black;
        border:0px;
        border-radius:5px;
        border-style: solid;
     
        /*background-color: #E6E6E9;
          
            #2A2A72;*/
        margin:0 auto;
        margin-bottom:0;
        padding-bottom:0;
        padding:0px;
        color:black;
     
    }
    
    .observer_holder{
        padding-bottom:8px;
        margin-top:0;
      
    }
    
    .smaller-text{
        font-size:80%;
    }
    
    .right_holder{
        float:right;
        margin-right:5%;
    }
    
    .ital{
        font-style: italic;
    }
    
    .left_holder{
        float:left;
        margin-left:5%;
    }
    
    .clear_floats{
        
        clear:both;
    }
    
    .top-rev{
        height:100px;
    }
    
    #slide_1_hold{
        height:500px;
    }
    
     #slide_1_holdb{
        height:500px;
    }
    
     .sslide_1_hold{
  
         margin-bottom:30px;
    }
    
    .times-font{
         font-family: "Times New Roman", Times, serif;
    }
    
    .abcd{
        text-align:center;
    }
   
    
    
    .review-text-hold-na{
         float:right;
        width: 75%;
        text-align:center;
    }
    .review-text-hold-long{
         float:right;
        width: 65%;
        text-align:center;
    }
    
    .slightly-small{
        font-size:90%;
    }
    
     .slightly-smallnn{
        font-size:85%;
    }
    
    
    .custom_news{
        width:60%;
        float:right;
        margin-top:-5px;
        padding-top:3px;
        margin-right;-5px;
        font-size:83%;
    }
    
    .press-title-holder{
        width:100%;
    }
    .line-right{
        color:black;
        float:right;
         width:30%;
        margin-right:5%;
        margin-top:10px;
         border-style:solid;
         border-bottom:2px;
    }
    
    .line-left{
         color:black;
   
        float:left;
        width:30%;
        margin-left:5%;
        margin-top:10px;
        border-style:solid;
        border-bottom:2px;
    }
    
    .press-text{
     margin:0 auto;
    width:100%;
   text-align: center;
        color:lightgray;
    }
    
    .titlo-left{
        float:left;
        width:30%;
        text-align: center;
        margin-top:25px;
        border-style:solid;
        border-width:2px;
        border-top:0;
        border-left:0;
        border-right:0;
          
      
    }
     .titlo-right{
        float:right;
        width:70%;
        
        text-align: center;
    }
    
    .v2-left{
        width:50%;
        float:left;
    }
    
    .review-text{
     text-align: justify;
    }
    
     .v2-right{
        width:50%;
         float:right;
    }
    
    .tele-blck{
        margin-top:50px;
    }
    
    .ll{
        font-size:120%;
    }
    
    .pub-sign{
        margin-bottom:0;
        padding-bottom:0;
       
    }
    
     
    .justy{
        text-align: justify;
    }
    
    .no-obli{
        margin-top:60px;
    }
    
    
    .centy{
        text-align: center;
    }
    
    .review-holder-a{
        height:65px;
       
    }
    
    
    .bigger-nl{
        font-size:120%;
    }
    
    .nl-a{
        font-size:120%;
        font-style: italic;
    }
    
    
#contact-container {
  width: 400px;
  margin: 25px auto;
  float:right;
height:300px;
    margin-right:50px;
    margin-bottom:150px;
    text-align: center;
}

.whysign {
  float: left;

  width: 480px;
  height: 347px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

.signup {
  
  width: 300px;
  padding: 30px 20px;
  
  text-align: center;

    margin:0 auto;
}




     .con-in{
        display: block;
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  height: 45px;
  line-height: 45px;  
 
  font-size: 1em;
  color: black;
  
  
         
    }
    
    
   
    
    
    
    .contact-text{
        
    }
    
    
    .sized-su{
        width:45%;
        float:right;
        margin-top:-30px;
        
    }
    
    .right-contact{
         margin:0 auto;
         width:190px;
        margin-bottom:30px;
       
        
    }
    
    .right-contact-m{
        margin:0 auto;
        height:200px;
        margin-top;30px;
        margin-bottom:30px;
        width:290px;
        line-height: normal;
       
    }
    
    .line-contact{
        margin:0 auto;
         width:290px;
         margin-bottom:30px;
          
       
    }
    
     .left-contact{
        margin:0 auto;
         width:190px;
         margin-bottom:30px;
          
       
    }
    
    .cenneer{
        text-align: center;
    }
    
    
    .sec-conny{
        margin:0 auto;
        width:200px;
    }
    
    
    #mildmay-make-but{
        position: fixed;
        z-index:9999999999999999999999999999;
        margin-top:30px;
        
    }
    
    
    .cenny{
        text-align: center;
    }
    
    
    .mildmay-contact-text{
        float:left;
        width:50%;
        padding-top:7px;
    }
    
    .em-text{
     font-size:150%;   
         color:lightgray;
        text-align:center;
        
    }
    
    .itall{
        font-style: italic;
    }
    
    .weds{
        width:600px;
        margin:0 auto;
        text-align:center;
        margin-top:30px;
    }
    
    
    .flcw{
        font-weight: 400;
    }
    
    .loc{
        font-weight: 400;
    }
    
    .cont-held{
        width:880px;
    }
    
    .about-titlo{
        position:relative;
        margin-top:-40px;
        text-align: center;
    }
    
    .loading-cont{
       
        margin-top:150px;
        font-size:500%;
        color: #2A2A72;
    }
    
    .mar-20{
        margin-top:15px;
    }
    
    
    
    
    
    .con-in:focus{
        outline: none;
  
         border-bottom: 2px solid;
        border-bottom-color: #2A2A72;
    }
    .con-text-field{
        max-height:180px;
         max-width:350px;
        margin-bottom:0;
        
    }
    
    .bluey-butt{
        background-color: #2A2A72;
        
        opacity:1;
        border:none;
        margin-top:10px;
    }
    
    
    @media only screen and (max-width: 560px) {
        .rev-slidd{
      position:relative;
       padding-top:25px;

              overflow-y: scroll;
            height:400px;
        
    }
        
         .em-text{
     font-size:95%;   
         color:black;
        text-align:center;
        
    }
        
         .mildmay-contact-text{
        float:none;
        width:90%;
        padding-top:7px;
    }
        
         
    .sized-su{
        width:90%;
        float:none;
        margin-top:20px;
        
    }
        
        
    .custom_news{
        width:100%;
        float:left;
         padding:3px;
        padding-top:5px;
       
    }
    
    .tele-slider-block-hold{
       
        display:none;
        
    }
        
        .tele-slider-block-hold-b{
       

        background-color: #d2dfcc;
        height:185px;
        width:300px;
        overflow: hidden;

        border-radius:15px;
        box-shadow:none;
            
        
    }
        
        .review-div{
            width: 325px;
            height:670px;
        
        }
        
        #slide_1_hold{
        height:500px;
            width:100%;

            
    }
        
        
        
        .weds{
        width:100%;
        margin:0 auto;
        text-align:center;
        margin-top:30px;
    }
        
        .line-contact{
        margin:0 auto;
         width:200px;
         margin-bottom:30px;
          
       
    }
        
        .cen-ph{
            float:left;
            width:250px;
        }
        
        #slide_2_holdb{
          width:300px;
         
        }
        
        .cont-held{
        width:300px;
    }
        
         .telegraph-back{
        background-image:url("{% static 'photos/telegraph2.jpg' %}");
        z-index:9999999999999999;
        background-size: contain;
        background-repeat: no-repeat;
        position:absolute;
        height:20px;
        width:150px;
        
    }
    
    
        
        
        
    }
    
    
    #mildmay-submit-but{
        margin-top:10px;
    }
    
    
    .cookies-slide{
        position:fixed;
        background-color: #676865;
        opacity: 0.93;
        z-index:999999999999999999999999999999;
        color:white;
        width:800px;
        margin-left:45px;
        border-radius: 10px;
        text-align:center;
        height:330px;
        margin-top:65px;
        border-color:#2A2A72;
        border-style:solid;
        border-width:0px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
    
    .biggy-big{
        font-size:150%;
    }
    
   
   
   
    
</style>


<div class = "opac-div sslide_1_hold rev-slidd " id = "slide_1_hold">
    
    
      
            <div class = "cookies-slide">


           <h2>Cookies</h2>
           
<h5 style ="text-align: center; font-size: 120%; padding:100px; padding-top: 0;"><br>
<span class = "biggy-big">Please accept Cookies to proceed with this site.</span><br><br>
‘Legal compliance, optimal performance, customized responses,<br>
more effective functionality’ blah, blah, blah . . .<br><br>

Seriously though, you can change which Cookies are set at any time,
or to find out more about them, just click on this <a href = "#">link</a>.<br><br>
    <span class = "biggy-big">It’s as simple as that!</span><br>

<button class = " btn btn-primary bluey-butt cookies-remove">Okay, got it!</button>
</h5>
                
                
                



<div class = "cleario"></div>
    
</div>
          

       
    
    <div class = "intial-hidden">

  <div class="slider_titlob weds">
            <h1><span class="slider_titlo_text em-text" >EROICA MILDMAY
</span> </h1>
      <div class = "tele-slider-block-hold-b">
        {% block new-feature-b %}
        {% endblock %}
          </div>
      
   
           
          </div>
    
    <span class="slider_titlo_text americano loc singlua" id = "top-texxt"><h3>lines of communication
              </h3></span>
    
    <div class = "press-text">
            
    <h1 class = "americano flcw">freelance copywriter</h1>
           </div>
    
      
         <div class = "clear_floats"></div>
    
    </div>
   
      
          
      


   




    
</div>







{% endblock %}



{% block slide_6_block %}
<div class = "opac-div rev-slidd" id = "slide_2_hold">


      <div class="slider_titlo about-titlo">
            <span class="slider_titlo_text "><h1>about</h1></span>
          </div>
         
     

          <p class="news__txt justy slightly-smallnn custom_news">
              
              Eroica was born in London and grew up in Africa, specifically Cameroon, Libya and Senegal, and has also travelled
extensively outwards from those countries to other parts of the continent as well. She received her education at various
International Schools and at certain points in her life she has needed to speak Pidgin English (Cameroon) Arabic and Italian
(Libya) and Wolof and French (Senegal) just to make friends! She returned to the UK with a generic, but noticeable ‘African’
lilt, and there <span class = "itall">is</span> such a thing! However, only French has remained in her system into adulthood as a regularly used language.
Her enthusiasm for travelling, adventure and other cultures has taken her to many other world destinations since then, and
she has also done ‘the big road trip’ across America, zigzagging from coast to coast, out of Los Angeles, ultimate destination
New York.<br><br>
              
    
After returning to the UK from Africa in her teens, Eroica attended Cheltenham Art College, always to be found in the
sculpture studios. After this, she disappeared off to live the island life, in the lighthouse on the Ile de Porquerolles, one of
four Mediterranean islands collectively called the Iles d`Hyères, located off the Cote d’Azur in the South of France.<br><br>
              
              Returning to London, she became a fashion model by happenstance, after being spotted in a street off Berkley Square, going
onto work in London, Paris, Milan, Hamburg and Munich – both on the catwalk, and for magazine photo-shoots. She lived
full-time in both Milan and Paris during this period. Eroica then started up as a fashion stylist based in London, with an
extensive client base both at home and abroad.<br><br>
              
              
She moved over to writing after that, attending the University of East Anglia (UEA) as a mature student studying BA (Hons.)
English Literature with Creative Writing. The UEA is widely seen as ‘the home of creative writing’ due to its predominant
role in pioneering this course. Eroica’s first novel had already published prior to attending the UEA, but it has nevertheless
proved to be an invaluable clarifying experience going forward.
              
              
              

                 </p>
    
     <div class = "eroica-photo">
    
    </div>
    
   <div class = "cleario"></div>
    
    

         

</div>
{% endblock %}

{% block slide_3_block %}
<div class = "opac-div rev-slidd" id = "slide_2_holdb">
<div class = "width-mak">

      <div class="slider_titlo about-titlo">
            <span class="slider_titlo_text"><h1>background</h1></span>
           
          </div>
         <div class = "cont-held">
            
            <h3 class = "americano">columnist</h3>

          <p class="news__txt justy slightly-small">
              
              Eroica Mildmay has had a column for eighteen months for the <span class = "telegraph-back"></span><b class = "americano">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.co.uk</b> called <b>Notes from a Norfolk Broad</b>, which
was a humorously rumbustious and widely-read countryside-
based column with a dedicated readership both here in the
UK and around the world.
              
          
            


<br><br>
    </p>
    <h3 class = "americano">features writer / journalist</h3>
     <p class="news__txt justy slightly-small">
         
         Eroica Mildmay worked for <span class = "nl-a">North Norfolk</span><b class = "bigger-nl-b"> LIVING</b> magazine for five years covering all sorts of subjects, interviewing, and often actually taking part - as in microlight flying, canoeing, wild swimming, deep sea trawling for lobsters, moth hunting (for research purposes), driving a Royal National Lifeboat Institution (RNLI) rescue vessel on training exercises (specifically the extremely fast B Class Atlantic 75) and many other adventures. She did all the photography for the articles and obviously wrote the finished product. She had an extensive and dedicated readership in Norfolk and beyond.

         
      

         
   



<br><br>
</p>
    
    
         <h3 class = "americano">novelist</h3> <p class="news__txt justy slightly-small">
    
    
     Eroica Mildmay has published two novels. Her first <b>Lucker and Tiffany Peel Out</b> came out to excellent critical reviews in most of the leading broadsheets, tabloid newspapers and magazines here in the UK. <b>Lucker and Tiffany Peel Out</b> was also translated into several different languages for the foreign market and optioned for potential film production. Her second novella <b>Home to Angel Cake</b> also received only positive reviews. She has published a selection of short stories, including in the sci-fi genre, many of which have also been translated into foreign languages as well. 

    <br></p>
             
    </div>
<p class = "news__txt centy slightly-small cen-ph">Eroica has just completed a third novel, <b>The Day Gone.</b><br><br></p>

    
              
         </div>

        

         

</div>
{% endblock %}

{% block slide_2_block %}


<div class = "opac-div sslide_1_hold rev-slidd" id = "slide_1_holdb">

  <div class="slider_titlob mar-20">
           
      <div class = "tele-slider-block-hold">
        {% block new-feature %}
        {% endblock %}
          </div>
      
   
           
          </div>
    
    <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
            <b>
    <h1 class = "americano">press reviews</h1>
           </b> </div>
         <div class = "clear_floats"></div>
   


<div class = "review-div">

{% block review-block %}
    {% endblock %}


    
    </div>

    
</div>

{% endblock %}

{% block slide_4_block %}
<div class = "opac-div flc-divv rev-slidd">


      <div class="slider_titlo about-titlo">
            <span class="slider_titlo_text"><h1>freelance copywriter</h1></span>
           
          </div>
         <div class = "all-cw-text">
     

          <p class="news__txt justy slightly-small">
            


              
              Eroica Mildmay is a professional writer, experienced in
several different genres, having worked as a copywriter, a
features writer, as a journalist and in broadcast comedy. She
is also a published novelist and short story writer. Eroica has
a fresh, original and imaginatively creative approach to copy,
and her manner of delivery and thorough writing style is
crisp, punchy and incisive.
Informative and inventively descriptive, her writing skills
and experience lend verve and clarity to even the most basic
of briefs.


</p>
    
     <h3 class = "americano">what’s wanted?</h3>
    
      <p class="news__txt justy slightly-small">
          
          Bang-up-to-date cutting-edge copy? Or perhaps a more
traditional and classic style of prose is required? Or crisp
formality, known formulas, brochure-speak, clean and clear
instruction manuals, general blurb or perhaps even some
historical context? Need some absolutely plain-speaking no-
frills everyday copy? Or, a poetic approach perhaps, and by
the way, poetical structuring comes easily to Eroica.
Ghostwriting . . . woohoooo, let’s go! A regular blog maybe?
Social media input and output? Engaging website content to
go? Film scripts? No problem! (Award-winning scriptwriting history here.) Or, if needed, a comedic twist (as Eroica is in possession of a sharp wit!) So, whatever you want – original thinking, one-off inventiveness, character-driven ideas, humorous asides or simple, straight-down-the-line copy, it’s all very achievable!


    </p>
    
    <h3 class = "americano">can do this!</h3>
    
      <p class="news__txt justy slightly-small">
          
          Responsive and communicative, and with communication
always being <span class = "itall">the absolute key</span>, Eroica is able to work from 

even the flimsiest of concepts and enhance and flesh out any
core idea into startling and attention-grabbing copy to suit.
Good observational skills and picking up the idea
immediately is essential in this line of work, as are excellent
on-board proof-reading skills and attention to the overall
presentation.<br><br>
Eroica’s work is always highly finished and delivered in a
timely fashion, as required. The challenge is the fun part and
the satisfaction always comes in doing an outstanding job to
a very high standard<br>.



          </p>
             
             </div>

         

</div>
{% endblock %}







{% block slide_5_block %}
<div class = "contact-remove-slide rev-slidd">

<div class="slider_titlo about-titlo">
            <span class="slider_titlo_text"><h2>interested in working together? hurrah!</h2></span>
           
 </div>
    
    
<div class = "mildmay-contact-text">
    
    <p class="news__txt abcd justy"> Got questions? Need a quote? Drop me an email with the details
    of your project via the contact form to get the ball rolling, and I’ll get straight back to you! <br><br>Or call me . . .</p><p class="news__txt justy">
    
    <i class="fas fa-envelope"></i> eroicamildmay@outlook.com<br>
    <i class="fas fa-phone"></i> +44 (0) 7500 706 066 <br> 
    <i class="fas fa-map-marker-alt"></i> London - Norfolk  </p>
    <p class="news__txt abcd cenneer no-obli">
    
<p class="news__txt justy">

    
 
Daily Rates<br>
Packages Negotiable<br>
In-House or Remote Working Available<br>

UK-based and International clients welcome.
    
  
    
</p>
    
    
    </div>





    <div class='signup sized-su'>
        
         
        
       
    
        
        <div class = "enter-stuff">
 
         <div class = "penis_test" id = "p-test">
             <label>Name:</label>
         <input id = "contact-name" name="con-name-new" class = "con-in line-contact" type='text' placeholder=''  />
             </div>
          <label>Your Contact Details:</label>
       <input id = "email-in" class = "con-in line-contact" type='text' placeholder=''  />
       <div class = "cleario">  </div>
          <label>Write Your Message Here:</label>
        <textarea id = "message-in"  class = "con-in con-text-field line-contact right-contact-m" placeholder = ""></textarea>
        <button class = "btn btn-primary" id = "mildmay-submit-but" onclick = 'sendMessage();'>Send Message</button>
            
        </div>
       
       
      
        
        <div class = "cleario"></div>
        
    </div>

      
      
    
 



<div class = "cleario"></div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    
    $(".intial-gone").hide();
    $(".singlua").css("color","white");
    
    $(".cookies-remove").on("click",function(){
         $(".singlua").css("color","black");
        $(".cookies-slide").fadeOut();
        timuuu = setTimeout(function(){
             $(".intial-gone").fadeIn();
            
        },700);
       
    });
    

    
    function sendMessage(){
        
        
     
        sendAJAX();
        setContactToLoading();
       

           
    }
    
   
    
    function sendAJAX(){
         var options = {
              type: 'POST',
              url:'contactme',
              data:{
                  namm:$("#contact-name").val(),
                  emm:$("#email-in").val(),
                  mess:$("#message-in").val()
              },
              success : function () {
                alert("server sending email...");
              }
            };
         $.ajax(options);
        
    }
    
    function setContactToLoading(){
        
         $(".enter-stuff").fadeOut();
         timeee1 = setTimeout(function(){
             $(".enter-stuff").html('<i class="fas fa-circle-notch fa-spin loading-cont"></i>');
            $(".enter-stuff").fadein();
        },500);
         $(".enter-stuff").fadeIn();
        
        timeee = setTimeout(function(){
            setContactToSent();
        },1500);
    }
    
     function setContactToSent(){
           $(".enter-stuff").fadeOut();
         timeee1 = setTimeout(function(){
             $(".enter-stuff").html('<i class="fas fa-check-circle loading-cont"></i> <h1>Message Sent</h1>');
            $(".enter-stuff").fadein();
        },500);
         $(".enter-stuff").fadeIn();
        
         
     }

   
   
    
   


      

  
    


</script>
   
      
 
    
{% endblock %}








