{% extends 'opening/melon_covered_slider_base.html' %}

{% block slide_1_block %}

    {% load static %}

<style>
    
      .contact-holder{
        position:absolute;
        width:100%;
        min-width: 330px;
        height:900px;
        z-index:0;
        border-radius: 10px;
        margin-top:0;
        background-color: black;
        opacity: 0.8;
    }
    

   
    .ani-frame{
            width:96%;
        height:96%;
        position:relative;
        left:2%;
        right:2%;
        top:2%;
        border:none;
        
        
        }
    
    
    .slider_titlo_text{
        text-align: center;
    }
    
    .con-butty{
        margin:0 auto;
        margin-top:40px;
    }
    
    .bing{
        background-color: black;
        }
    
    
    .bingpot{
        background-color:#2A2A2A;
        
    }
    
    .slider_titlo{
        border-width:0;
        border-bottom:2px;
        border-style: solid;
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
     .slider_titlob{
        border-width:0;
       
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
    .americano{
         font-family: 'American Typewriter', serif;
    }
    
    .media-links-div{
       
        background-color: #28112B;
    }
    
    .tele-slider-block-hold{
       
        position:relative;
        background-color: #d2dfcc;
        height:199px;
        width:335px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
    
     .tele-slider-block-holdv1{
       
        position:relative;
        background-color: #d2dfcc;
        height:299px;  
        width:502px;   
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        border-radius:15px;
        
    }
    
    
    .eroica-photo{
       
        
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
         border-radius:8px;
        background-image:url("{% static 'photos/eroica.jpg' %}");
        background-size: cover;
         margin-top:20px;
        float:left;
        width:40%;
        height:450px;
        margin-bottom:10px;
        
        
    }
    
  

    .gaurdian-link{
        background-image:url("{% static 'photos/gaurdian.png' %}");
        background-size: cover;
        
       
    }
    
    .review-holder{
     
        width: 40%;
    
        padding:8px;
        color:black;
        
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        

        
    }
    
    .review-holderv1{
     
        width: 80%;
    
        padding:8px;
        color:black;
        
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        

        
    }
    
    #top-texxt{
     
    }
    
    .sunday_holder{
    
    margin-left:5%;
        
     
    }
    
    .independent_holder{
        margin-right:5%;
        padding-bottom:2px;
        margin-bottom:0;
       
    }
    
      .daily_holder{
      
       margin-top:0;
   
     
    }
    
     .tls_holder{
      
       margin-top:-5px;
   
     
    }
    
    .daily_holder2{
      
       margin-top:-12px;
   
     
    }
    
    .sunday-rev{
        text-align:center;
        padding-top:0px;
        width:75%;
        float:right;
        
        
        
    }
    
    .daily-rev{
        float:right;
        width: 80%;
        padding-top:20px;
         
        text-align:center;
    }
    
    .i-d-rev{
        float:right;
        width: 80%;
        padding-top:5px;
        text-align:center;
        
    }
    
    
     
    .times-rev{
       
        padding-top:15px;
        width:80%;
        text-align:center;
        float:Right;
   
        
    }
    
    .tls-rev{
       
        padding-top:10px;
        width:80%;
        text-align:center;
        float:Right;
        padding-bottom:0;
        margin-bottom:0;
   
        
    }
    
    .independent-rev{
       text-align:center;
        float:right;
         width: 75%;
        padding-top:6px;
        padding-bottom:0;
        
    }
    
    
    
    .observer-rev{
       text-align:center;
        width: 80%;
        float:right;
        margin-top:10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        
        
        
    }
    
    
    .sunday-link{
        height:45px;
        width:20%;
        background-image:url("{% static 'photos/sunday_times.png' %}");
        background-size: contain;
        float:left;
         background-repeat: no-repeat;
        
       
    }
    
    .observer-link{
         height:50px;
        width:20%;
        background-image:url("{% static 'photos/gaurdian.png' %}");
           background-size:contain;
        float:left;
        background-repeat: no-repeat;
         
         
         
       
    }
    
    .centered-butt{
        margin:0 auto;
  
        width:205px;
    }
    
     .daily-link{
        height:80px;
        width:80px;
        background-image:url("{% static 'photos/daily_mail.png' %}");
        background-size:contain;
        position:absolute;
         margin-left: -15px;
         margin-top:-10px;
    
        background-repeat: no-repeat;
        
        
      
         
         
       
    }
    
    .i-d-link{
        height:30px;
        width:20%;
        margin-top:5px;
        background-image:url("{% static 'photos/ID.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
         
         
       
    }
    
    .tls-link{
        height:50px;
        width:20%;
        background-image:url("{% static 'photos/times.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
         
           
         
         
       
    }
    
    
    
      
    
    
     .independent-link{
        height:50px;
        width:20%;
        background-image:url("{% static 'photos/independent.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
          
       
         
         
       
    }
    
    .cleario{
        clear:both;
    }
    
    
    .review-div{

        width:100%;
   
        border-color:black;
        border:0px;
        border-radius:5px;
        border-style: solid;
     
        /*background-color: #E6E6E9;
          
            #2A2A72;*/
        margin:0 auto;
        margin-bottom:0;
        padding-bottom:0;
        padding:8px;
        color:black;
         
      
    }
    
    .observer_holder{
        padding-bottom:8px;
       
    }
    
    .smaller-text{
        font-size:80%;
    }
    
    .right_holder{
        float:right;
        margin-right:5%;
    }
    
    .ital{
        font-style: italic;
    }
    
    .left_holder{
        float:left;
        margin-left:5%;
    }
    
    .clear_floats{
        
        clear:both;
    }
    
    .top-rev{
        height:100px;
    }
    
    #slide_1_hold{
        height:500px;
    }
    
    .times-font{
         font-family: "Times New Roman", Times, serif;
    }
    
    .abcd{
        text-align:center;
    }
    
    .justy{
        text-align: justify;
    }
    
    
    .review-text-hold-na{
         float:right;
        width: 75%;
        text-align:center;
    }
    .review-text-hold-long{
         float:right;
        width: 65%;
        text-align:center;
    }
    
    .slightly-small{
        font-size:90%;
    }
    
    
    .custom_news{
        
        width:50%;
        float:right;
    }
    
    .press-title-holder{
        width:100%;
    }
    .line-right{
        color:black;
        float:right;
         width:30%;
        margin-right:5%;
        margin-top:10px;
         border-style:solid;
         border-bottom:2px;
    }
    
    .line-left{
         color:black;
   
        float:left;
        width:30%;
        margin-left:5%;
        margin-top:10px;
        border-style:solid;
        border-bottom:2px;
    }
    
    .press-text{
     margin:0 auto;
    width:100%;
   text-align: center;
    }
    
    .titlo-left{
        float:left;
        width:30%;
        text-align: center;
        margin-top:25px;
        border-style:solid;
        border-width:2px;
        border-top:0;
        border-left:0;
        border-right:0;
          
      
    }
     .titlo-right{
        float:right;
        width:70%;
        
        text-align: center;
    }
    
    .v2-left{
        width:50%;
        float:left;
    }
    
    .review-text{
     text-align: justify;
    }
    
     .v2-right{
        width:50%;
         float:right;
    }
    
    .tele-blck{
        margin-top:50px;
    }
    
    .ll{
        font-size:120%;
    }
    
    .pub-sign{
        text-align: right;
    }
    
    @media only screen and (max-width: 760px) {
    
    .tele-slider-block-hold{
       
        position:relative;
        background-color: #d2dfcc;
        height:175px;
        width:300px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
        
    }
    
    
    
    
    
   
   
    
</style>


<div class = "opac-div" id = "slide_1_hold">
    
    <div class = "v2-left">
        
          <div class="slider_titlob">
            <span class="slider_titlo_text ll" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      <div class = "tele-blckv1">
      <div class = "tele-slider-block-holdv1">
        {% block new-feature %}
        {% endblock %}
          
          </div>
          <span class="slider_titlo_text" id = "top-texxt"><h4>lines of communication
              </h4></span>
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    </div>
    
    
     <div class = "v2-right">
         
           <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         
    
         <div class = "review-div">

<div class = "sunday_holder review-holderv1 right_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’<b> The Sunday Times</b></p>
      </div>

              </div>
             
              <div class = "clear_floats"></div>
    

    <div class = "independent_holder review-holderv1 right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text">‘Rarely less than entertaining, and that’s some achievement ...’ <b>The Independent</b>

 <p>
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holderv1 right_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’<b> The Observer</b>
 <p>
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holderv1 right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p>'Mildmay tells a good story ...’ <b>The Daily Mail</b>
 <p>
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holderv1 right_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’<b> ID Magazine</b>

 <p>
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holderv1 right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ <b>Times Literature Review</b>

 <p>
    </div>
   
 

              </div>

 



    
    </div>
         
    </div>


    
  
   




    
</div>



{% endblock %}

{% block v1 %}


<div class = "opac-div" id = "slide_1_hold">
    
    <div class = "v2-left">
        
          <div class="slider_titlob">
            <span class="slider_titlo_text" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      
      <div class = "tele-blck">
      <div class = "tele-slider-block-hold">
        {% block new-featurd %}
        {% endblock %}
          
          </div>
          <span class="slider_titlo_text" id = "top-texxt"><h5>lines of communication
              </h5></span>
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    </div>
    
    
     <div class = "v2-right">
         
           <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         
    
         <div class = "review-div">

<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
        <p class = "smaller-text times-font">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’<span class = "pub-sign"> <b>The Sunday Times</b></span></p>
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text review-text"><b>‘Rarely less than entertaining, and that’s some achievement ...’ The Independent</b>

 <p>
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text review-text"><b>‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ The Observer</b>
 <p>
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p><b>'Mildmay tells a good story ...’ The Daily Mail</b>
 <p>
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text review-text"><b>‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ ID Magazine</b>

 <p>
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text review-text"><b>‘Her flights of fancy description transform cynicism into lyricism . . .’ Times Literature Review</b>

 <p>
    </div>
   
 

              </div>

 



    
    </div>
         
    </div>


    
  
   




    
</div>



{% endblock %}

{% block version_two %}

<div class = "opac-div" id = "slide_1_hold">

  <div class="slider_titlob">
            <span class="slider_titlo_text titlo-left" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      <div class = "titlo-right">
      <div class = "tele-slider-block-hold">
        {% block new-featuro %}
        {% endblock %}
          
          </div>
          <span class="slider_titlo_text" id = "top-texxt"><h5>lines of communication
              </h5></span>
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         <div class = "clear_floats"></div>
   


<div class = "review-div">

<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text times-font"><b>A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’ The Sunday Times</b></p>
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text"><b>‘Rarely less than entertaining, and that’s some achievement ...’ The Independent</b>

 <p>
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text"><b>‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ The Observer</b>
 <p>
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p><b>'Mildmay tells a good story ...’ The Daily Mail</b>
 <p>
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text"><b>‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ ID Magazine</b>

 <p>
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text"><b>‘Her flights of fancy description transform cynicism into lyricism . . .’ Times Literature Review</b>

 <p>
    </div>
   
 

              </div>

 



    
    </div>

    
</div>

{% endblock %}






{% block slide_2_block %}



<div class = "opac-div" id = "slide_1_hold">

  <div class="slider_titlo">
            <span class="slider_titlo_text" ><h1>eroica mildmay
</h1></span>
      <div class = "tele-slider-block-hold">
        {% block new-featuref %}
        {% endblock %}
          </div>
      
      <span class="slider_titlo_text" id = "top-texxt"><h1>lines of communication
</h1></span>
           
          </div>
    
    <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h3>press reviews</h3>
            </div>
         <div class = "clear_floats"></div>
   


<div class = "review-div">

<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text review-text">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text"><b>‘Rarely less than entertaining, and that’s some achievement ...’ The Independent</b>

 <p>
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text"><b>‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ The Observer</b>
 <p>
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p><b>'Mildmay tells a good story ...’ The Daily Mail</b>
 <p>
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text"><b>‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ ID Magazine</b>

 <p>
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text"><b>‘Her flights of fancy description transform cynicism into lyricism . . .’ Times Literature Review</b>

 <p>
    </div>
   
 

              </div>

 



    
    </div>

    
</div>

{% endblock %}



{% block slide_6_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo">
            <span class="slider_titlo_text"><h1>about</h1></span>
           
          </div>
          <div class = "eroica-photo">
    
    </div>
     

          <p class="news__txt justy slightly-small custom_news">
            
        Eroica was born in London and grew up in Africa, specifically Cameroon, Libya and Senegal and has travelled extensively out from those countries to other parts of Africa too. At certain points in her life she has needed to speak Pigeon English, (Cameroon) Arabic and Italian (Libya) and Wolof and French (Senegal) just to make friends! However only French has remained in her system as a regularly used language. Her enthusiasm for travelling and other cultures has taken her to many other world destinations throughout her adult life since then as well. <br><br>
              
              Returning from living in Africa to the UK in her teens, she attended Cheltenham Art College, specializing in sculpture. She then became a model after being spotted in the street in Berkley Square, going on to work in London, Paris, Milan, Hamburg and Munich on the catwalk and on press photoshoots. She has lived full-time in both Milan and Paris during this period. She then had her own fashion styling business based in London with an extensive client base, also both at home and abroad. She moved over to writing after that, attending the University of East Anglia as a mature student, completing a BA Hons Degree in Creative Writing and English Literature to improve her craft. 
              
                 </p>
    
   <div class = "cleario"></div>
    
    

         

</div>
{% endblock %}

{% block slide_3_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo">
            <span class="slider_titlo_text"><h1>background</h1></span>
           
          </div>
         
            <h3 class = "americano">columnist</h3>

          <p class="news__txt justy slightly-small">
            
eroica mildmay has had column for eighteen months for <b>The Telegraph.co.uk</b> called <b class = "ital">Notes from a Norfolk Broad</b>, which was a humorously rumbustious and much-read countryside-based column with a dedicated readership both here in the UK and around the world.<br><br>
    </p>
    <h3 class = "americano">features writer / journalist</h3>
     <p class="news__txt justy slightly-small">

eroica mildmay was a features writer for <b>North Norfolk Living Magazine</b> for five years covering all sorts of subjects, interviewing, sometimes taking part (as in wild swimming, microlight flying, deep-sea fishing, driving a Royal National Lifeboat Institution (RNLI) Atlantic 75 Rescue Lifeboat out at sea, etc. etc.) also photographing exclusively for the articles and obviously writing the finished product. She had an extensive and dedicated readership in North Norfolk and beyond.<br><br>
</p>
         <h3 class = "americano">novelist</h3> <p class="news__txt justy slightly-small">
        
         
eroica mildmay has published two novels. Her first <b>Lucker and Tiffany Peel Out</b> came out to excellent critical reviews in most of the leading broadsheets, tabloid newspapers and magazines here in the UK. Lucker and Tiffany Peel Out was also translated into several different languages for the foreign market and optioned for potential film production. Her second novella <b>Home to Angel Cake</b> was also equally positively reviewed. She has published a selection of short stories, including sci-fi, many of which have also been translated into foreign languages as well. <br> 
Eroica has just completed a third novel, <b>The Day Gone.</b>

              
         

          </p>

         

</div>
{% endblock %}

{% block slide_4_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo">
            <span class="slider_titlo_text"><h1>freelance copywriter</h1></span>
           
          </div>
         
     

          <p class="news__txt justy slightly-small">
            

eroica mildmay is a professional writer, experienced in several different genres, having worked as a features writer, journalist in broadcast comedy and as a published novelist and short story writer. She has a fresh, original and imaginative, creative approach to copy, and her manner of delivery and thorough writing style is incisive, crisp, punchy and perceptive. Informative and inventively descriptive all at once, her writing skills and experience lend life and clarity to even the most basic of briefs. <br><br></p>
    
     <h3 class = "americano">what’s wanted?</h3>
    
      <p class="news__txt justy slightly-small">
              

Bang-up-to-date, cutting-edge copy? Or perhaps a more traditional and classic style of prose is required? Or crisp formality, known formulas, brochures, instruction manuals or perhaps even historical context? Or perhaps comedy (as Eroica is in possession of a sharp wit)? Original thinking, one-off inventiveness, character-speak or gentle humorous asides, all do-able. Or just plain-speaking no-frills, everyday copy? Over to you ... <br><br>
    </p>
    
    <h3 class = "americano">can do this!</h3>
    
      <p class="news__txt justy slightly-small">

Responsive and communicative – and with communication being the absolute key, Eroica is able to work from even the flimsiest of ideas and enhance and flesh out core ideas into startling and attention-grabbing copy to suit. But, if something more low-key is required that’s fine too. Good observational skills and picking up the idea immediately is essential in this line of work, as are excellent on-board proof-reading skills and attention to the overall presentation. Eroica’s work is always highly-finished and delivered in a timely fashion, as required. The challenge is the fun part and the satisfaction comes in doing an outstanding job to a very high standard.

          </p>

         

</div>
{% endblock %}




{% block slide_5_block %}

<div class="slider_titlo">
            <span class="slider_titlo_text"><h1>contact</h1></span>
           
          </div>




<p class="news__txt abcd"> Feel free to contact me!<br><br>
    
    <i class="fas fa-envelope"></i> eroica@eroicamildmay.co.uk <br>
    <i class="fas fa-mobile"></i> 07876 404454 <br> <br>
    Alternatively, contact me using the tool below:
</p>


   <div class = "centered-butt">
    <button class = "btn btn-primary con-butty">Use The Quick Contact Tool</button>
       </div>
      
 
    
{% endblock %}








