{% extends 'opening/melon_covered_slider_base.html' %}

{% block slide_1_block %}




<div class = "opac-div" id = "slide_1_hold">
    
    <div class = "v2-left">
        
          <div class="slider_titlob">
            <span class="slider_titlo_text ll" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      <div class = "tele-blckv1">
      <div class = "tele-slider-block-holdv1">
        {% block new-featureq %}
        {% endblock %}
          
          </div>
         
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    </div>
    
    
     <div class = "v2-right">
         
           <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         
    
         <div class = "review-div">

<div class = "sunday_holder review-holderv1 right_holder">
    
    <div class= "sunday-rev">
    <p class = "smaller-text">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’<b> The Sunday Times</b></p>
      </div>

              </div>
             
              <div class = "clear_floats"></div>
    

    <div class = "independent_holder review-holderv1 right_holder">
        
       
    <div class= "independent-rev">
        <p class = "smaller-text">‘Rarely less than entertaining, and that’s some achievement ...’ <b>The Independent</b>

 <p>
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holderv1 right_holder">
    
    
    
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’<b> The Observer</b>
 <p>
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holderv1 right_holder">
       
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’ <b>The Daily Mail</b>
 <p>
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holderv1 right_holder">
     
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’<b> ID Magazine</b>

 <p>
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holderv1 right_holder">
         
    
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ <b>Times Literature Review</b>

 <p>
    </div>
   
 

              </div>

 



    
    </div>
         
    </div>


    
  
   




    
</div>



{% endblock %}

{% block v1 %}


<div class = "opac-div" id = "slide_1_hold">
    
    <div class = "v2-left">
        
          <div class="slider_titlob widfs">
            <span class="slider_titlo_text" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      
      <div class = "tele-blck">
      <div class = "tele-slider-block-hold">
        {% block new-featurd %}
        {% endblock %}
          
          </div>
          
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    </div>
    
    
     <div class = "v2-right">
         
           <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         
    
         <div class = "review-div">

<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text ">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text ">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>  
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign"><b>The Observer</b></p>  
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign"><b>The Daily Mail</b></p>  
 
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "smaller-text pub-sign"><b>ID Magazine</b></p>  
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>Times Literary Review</b></p>  

 
    </div>
   
 

              </div>
 



    
    </div>
         
    </div>


    
  
   




    
</div>



{% endblock %}

{% block version_two %}

<div class = "opac-div" id = "slide_1_hold">

  <div class="slider_titlob wide-divr">
            <span class="slider_titlo_text titlo-left" ><h1>eroica mildmay
</h1><h6>freelance copywriter</h6></span>
      
      
      
      
      <div class = "titlo-right">
      <div class = "tele-slider-block-hold">
        {% block new-featuro %}
        {% endblock %}
          
          </div>
          <span class="slider_titlo_text" id = "top-texxt"><h5>lines of communication
              </h5></span>
          </div>
      
      
      
            <div class = "clear_floats"></div>
          </div>
    
    <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
    <h1 class = "slider_titlo_text americano">press reviews</h1>
            </div>
         <div class = "clear_floats"></div>
   


<div class = "review-div">


<div class = "sunday_holder review-holder left_holder">
    
         <div class = "sunday-link rev-link">
              </div>
    <div class= "sunday-rev">
    <p class = "smaller-text ">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
      </div>

              </div>
    

    <div class = "independent_holder review-holder right_holder">
        
         <div class = "independent-link rev-link">

              </div>
    <div class= "independent-rev">
        <p class = "smaller-text ">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>  
    </div>
    
    
              </div>
    
    <div class = "clear_floats"></div>

<div class = "observer_holder review-holder left_holder">
    
    
     <div class = "observer-link rev-link">

              </div>
    <div class= "observer-rev review-text-hold">
    <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign"><b>The Observer</b></p>  
    </div>
    
 

              </div>
   
    <div class = "daily_holder2 review-holder right_holder">
        <div class = "daily-link rev-link">

              </div>
    <div class= "daily-rev review-text-hold">
    <p class = "smaller-text">'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign"><b>The Daily Mail</b></p>  
 
    </div>
    
     
 

              </div>
    
      <div class = "clear_floats"></div>
 <div class = "clear_floats"></div>
<div class = "daily_holder review-holder left_holder">
      <div class = "i-d-link rev-link">

              </div>
    <div class= "i-d-rev review-text-hold">
        <p class = "smaller-text">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "smaller-text pub-sign"><b>ID Magazine</b></p>  
    </div>
    
   
 

              </div>

    <div class = "tls_holder review-holder right_holder">
         
     <div class = "tls-link rev-link">

              </div>
    <div class= "tls-rev review-text-hold">
    <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>Times Literary Review</b></p>  

 
    </div>
   
 

              </div>

 



    
    </div>

    
</div>

{% endblock %}






{% block slide_jn_block %}

    {% load static %}

<style>
    
      .contact-holder{
        position:absolute;
        width:100%;
        min-width: 330px;
        height:900px;
        z-index:0;
        border-radius: 10px;
        margin-top:0;
        background-color: black;
        opacity: 0.8;
    }
    

   
    .ani-frame{
            width:96%;
        height:96%;
        position:relative;
        left:2%;
        right:2%;
        top:2%;
        border:none;
        
        
        }
    
    
    .slider_titlo_text{
        text-align: center;
    }
    
    .con-butty{
        margin:0 auto;
        margin-top:40px;
    }
    
    .bing{
        background-color: black;
        }
    
    
    .bingpot{
        background-color:#2A2A2A;
        
    }
    
    .slider_titlo{
        border-width:0;
        border-bottom:2px;
        border-style: solid;
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
     .slider_titlob{
        border-width:0;
       
        margin-bottom:10px;
        font-family: 'American Typewriter', serif;
      
    }
    
    .americano{
         font-family: 'American Typewriter', serif;
    }
    
    .media-links-div{
       
        background-color: #28112B;
    }
    
    .tele-slider-block-hold{
       
        position:relative;
        background-color: #d2dfcc;
        height:199px;
        width:335px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
    
     .tele-slider-block-hold-b{
       
        position:relative;
        background-color: #d2dfcc;
        height:270px;
        width:450px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
    
     .tele-slider-block-holdv1{
       
        position:relative;
        background-color: #d2dfcc;
        height:299px;  
        width:502px;   
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        border-radius:15px;
        
    }
    
    
    .eroica-photo{
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
         border-radius:8px;
        background-image:url("{% static 'photos/eroica.jpg' %}");
        background-size: contain;
        background-repeat: no-repeat;
         margin-top:20px;
        float:left;
        width:320px;
        height:410px;
        margin-bottom:10px;
        
        
    }
    
  

    .gaurdian-link{
        background-image:url("{% static 'photos/gaurdian.png' %}");
        background-size: cover;
        
       
    }
    
    .review-holder{
     
        width: 40%;
    
        padding:8px;
        color:black;
        
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        padding-bottom:0;
        margin-bottom:0;
        margin-top:0;
        

        
    }
    
    .review-holderv1{
     
        width: 80%;
        padding:8px;
        color:black;
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        padding-bottom:0;
        margin:0;
        

        
    }
    
    #top-texxt{
     
    }
    
    .sunday_holder{
    
    margin-left:5%;
    
    margin-bottom:0;
        
     
    }
    
    .independent_holder{
        margin-right:5%;
        padding-bottom:2px;
        margin-bottom:0;
       
    }
    
      .daily_holder{
      
       margin-top:0;
   
     
    }
    
     .tls_holder{
      
       margin-top:-5px;
   
     
    }
    
    .daily_holder2{
      
       margin-top:0px;
   
     
    }
    
    .single-line-rev-a{
        height:60px;
        background-color: blue;
    }
    
    
     
    
    .sunday-rev{
        text-align:center;
        padding-top:0px;
        width:75%;
        float:right;
        
        
        
    }
    
    .daily-rev{
        float:right;
        width: 80%;
        padding-top:20px;
        text-align:center;
    }
    
    .i-d-rev{
        float:right;
        width: 80%;
        padding-top:5px;
        text-align:center;
        
    }
    
    
     
    .times-rev{
       
        padding-top:15px;
        width:80%;
        text-align:center;
        float:Right;
   
        
    }
    
    .tls-rev{
       
        padding-top:10px;
        width:80%;
        text-align:center;
        float:Right;
        padding-bottom:0;
        margin-bottom:0;
   
        
    }
    
    .independent-rev{
       text-align:center;
        float:right;
         width: 75%;
        padding-top:6px;
        padding-bottom:0;
        
    }
    
    
    
    .observer-rev{
       text-align:center;
        width: 80%;
        float:right;
        margin-top:10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        
        
        
    }
    
    
    .sunday-link{
        height:55px;
        width:103px;
        background-image:url("{% static 'photos/sunny.png' %}");
        background-size: contain;
        float:left;
         background-repeat: no-repeat;
         background-repeat: no-repeat;
        z-index:999999999999999999999;
        margin-top:-4px;
        margin-left:-20px;
        border-style: solid;
        border-width:1px;
        border-radius:5px;
        
       
    }
    
    .telegraph-back{
        background-image:url("{% static 'photos/tel2.jpg' %}");
        z-index:9999999999999999;
        background-size: contain;
        background-repeat: no-repeat;
        position:fixed;
        height:20px;
        width:150px;
        
    }
    
    .observer-link{
        height:58px;
        width:44px;
        background-image:url("{% static 'photos/oby.jpg' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
        
        border-radius:15px;

        margin-top:-13px;
        margin-left:5px;
         z-index:999999999999999999999999999999;
        
         
         
       
    }
    
    .centered-butt{
        margin:0 auto;
  
        width:205px;
    }
    
     .daily-link{
        height:80px;
        width:80px;
        background-image:url("{% static 'photos/daily_mail.png' %}");
        background-size:contain;
        position:relative;
         
        background-repeat: no-repeat;
         float:left;
         margin-left: -15px;
         margin-top:-16px;
         z-index:999999999999999999999;
        
        
      
         
         
       
    }
    
    .i-d-link{
        height:40px;
        width:65px;
        margin-top:0px;
        background-image:url("{% static 'photos/ID.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
        z-index:999999999999999999999;
        
         
    }
    
    .tls-link{
        height:50px;
        width:20%;
        background-image:url("{% static 'photos/times.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
        z-index:999999999999999999999;
         
           
         
         
       
    }
    
    
    
      
    
    
     .independent-link{
        height:60px;
        width:110px;
        background-image:url("{% static 'photos/independent.png' %}");
        background-size:contain;
        float:left;
        background-repeat: no-repeat;
         z-index:999999999999999999999;
        
        margin-left:-20px;
   
          
       
         
         
       
    }
    
    .cleario{
        clear:both;
        background-color: blue;
        margin:0;
        padding:0;
    }
    
    
    .review-div{

        width:100%;
   
        border-color:black;
        border:0px;
        border-radius:5px;
        border-style: solid;
     
        /*background-color: #E6E6E9;
          
            #2A2A72;*/
        margin:0 auto;
        margin-bottom:0;
        padding-bottom:0;
        padding:0px;
        color:black;
     
    }
    
    .observer_holder{
        padding-bottom:8px;
        margin-top:0;
      
    }
    
    .smaller-text{
        font-size:80%;
    }
    
    .right_holder{
        float:right;
        margin-right:5%;
    }
    
    .ital{
        font-style: italic;
    }
    
    .left_holder{
        float:left;
        margin-left:5%;
    }
    
    .clear_floats{
        
        clear:both;
    }
    
    .top-rev{
        height:100px;
    }
    
    #slide_1_hold{
        height:500px;
    }
    
     .sslide_1_hold{
  
         margin-bottom:30px;
    }
    
    .times-font{
         font-family: "Times New Roman", Times, serif;
    }
    
    .abcd{
        text-align:center;
    }
   
    
    
    .review-text-hold-na{
         float:right;
        width: 75%;
        text-align:center;
    }
    .review-text-hold-long{
         float:right;
        width: 65%;
        text-align:center;
    }
    
    .slightly-small{
        font-size:90%;
    }
    
     .slightly-smallnn{
        font-size:85%;
    }
    
    
    .custom_news{
        width:60%;
        float:right;
        margin-top:-5px;
        padding-top:3px;
        margin-right;-5px;
        font-size:83%;
    }
    
    .press-title-holder{
        width:100%;
    }
    .line-right{
        color:black;
        float:right;
         width:30%;
        margin-right:5%;
        margin-top:10px;
         border-style:solid;
         border-bottom:2px;
    }
    
    .line-left{
         color:black;
   
        float:left;
        width:30%;
        margin-left:5%;
        margin-top:10px;
        border-style:solid;
        border-bottom:2px;
    }
    
    .press-text{
     margin:0 auto;
    width:100%;
   text-align: center;
        color:lightgray;
    }
    
    .titlo-left{
        float:left;
        width:30%;
        text-align: center;
        margin-top:25px;
        border-style:solid;
        border-width:2px;
        border-top:0;
        border-left:0;
        border-right:0;
          
      
    }
     .titlo-right{
        float:right;
        width:70%;
        
        text-align: center;
    }
    
    .v2-left{
        width:50%;
        float:left;
    }
    
    .review-text{
     text-align: justify;
    }
    
     .v2-right{
        width:50%;
         float:right;
    }
    
    .tele-blck{
        margin-top:50px;
    }
    
    .ll{
        font-size:120%;
    }
    
    .pub-sign{
        margin-bottom:0;
        padding-bottom:0;
       
    }
    
     
    .justy{
        text-align: justify;
    }
    
    .no-obli{
        margin-top:60px;
    }
    
    
    .centy{
        text-align: center;
    }
    
    .review-holder-a{
        height:65px;
       
    }
    
    
    .bigger-nl{
        font-size:120%;
    }
    
    
#contact-container {
  width: 400px;
  margin: 25px auto;
  float:right;
height:300px;
    margin-right:50px;
    margin-bottom:150px;
    text-align: center;
}

.whysign {
  float: left;

  width: 480px;
  height: 347px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

.signup {
  
  width: 300px;
  padding: 30px 20px;
  
  text-align: center;

    margin:0 auto;
}




     .con-in{
        display: block;
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  height: 45px;
  line-height: 45px;  
 
  font-size: 1em;
  color: black;
  
  
         
    }
    
    
   
    
    .con-in:focus{
        outline: none;
  
         border-bottom: 2px solid;
        border-bottom-color: #2A2A72;
    }
    .con-text-field{
        max-height:180px;
         max-width:350px;
        margin-bottom:0;
        
    }
    
    
    @media only screen and (max-width: 560px) {
        
        
    .custom_news{
        width:95%;
        float:left;
         padding:3px;
        padding-top:5px;
       
    }
    
    .tele-slider-block-hold{
       
        position:relative;
        background-color: #d2dfcc;
        height:175px;
        width:300px;
        overflow: hidden;
        margin: 0 auto;
        border-radius:15px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        
    }
        
        .review-div{
            width: 325px;
        
        }
        
        
        
    }
    
    
    
    
    .contact-text{
        
    }
    
    
    .sized-su{
        width:45%;
        float:right;
        margin-top:-30px;
        
    }
    
    .right-contact{
         margin:0 auto;
         width:190px;
        margin-bottom:30px;
       
        
    }
    
    .right-contact-m{
        margin:0 auto;
        height:200px;
        margin-top;30px;
        margin-bottom:30px;
        width:290px;
        line-height: normal;
       
    }
    
    .line-contact{
        margin:0 auto;
         width:290px;
         margin-bottom:30px;
          
       
    }
    
     .left-contact{
        margin:0 auto;
         width:190px;
         margin-bottom:30px;
          
       
    }
    
    .cenneer{
        text-align: center;
    }
    
    
    .sec-conny{
        margin:0 auto;
        width:200px;
    }
    
    
    #mildmay-make-but{
        position: fixed;
        z-index:9999999999999999999999999999;
        margin-top:30px;
        
    }
    
    
    .cenny{
        text-align: center;
    }
    
    
    .mildmay-contact-text{
        float:left;
        width:50%;
        padding-top:7px;
    }
    
    .em-text{
     font-size:150%;   
         color:lightgray;
        text-align:center;
        
    }
    
    .weds{
        width:600px;
        margin:0 auto;
        text-align:center;
    }
    
    
    .flcw{
        font-weight: 600;
    }
    
    .loc{
        font-weight: 400;
    }
    
    .cont-held{
        width:880px;
    }
    
    .about-titlo{
        position:relative;
        margin-top:-40px;
        text-align: center;
    }
    
    
   
   
   
    
</style>




<div class = "opac-div sslide_1_hold" id = "slide_1_hold">

  <div class="slider_titlob weds">
            <h1><span class="slider_titlo_text em-text" >EROICA MILDMAY
</span> </h1>
      <div class = "tele-slider-block-hold-b">
        {% block new-feature-b %}
        {% endblock %}
          </div>
      
   
           
          </div>
    
    <span class="slider_titlo_text americano loc" id = "top-texxt"><h3>lines of communication
              </h3></span>
    
    <div class = "press-text">
            
    <h1 class = "americano flcw">freelance copywriter</h1>
           </div>
    
      
         <div class = "clear_floats"></div>
   




    
</div>

{% endblock %}



{% block slide_6_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo about-titlo">
            <span class="slider_titlo_text "><h1>about</h1></span>
          </div>
         
     

          <p class="news__txt justy slightly-smallnn custom_news">
              
              Eroica was born in London and grew up in Africa,
specifically Cameroon, Libya and Senegal, and has also
travelled extensively outwards from those countries to other
parts of the continent as well. She received her education at
various International Schools and at certain points in her life
she has needed to speak Pidgin English, (Cameroon) Arabic
and Italian (Libya) and Wolof and French (Senegal) just to
make friends! She returned to the UK with a generic, but
noticeable ‘African’ lilt, and there is such a thing! However,
only French has remained in her system into adulthood as a
regularly used language. Her enthusiasm for travelling,
adventure and other cultures has taken her to many other
world destinations since then, and she has also done ‘the big
road trip’ across America, zigzagging from coast to coast, out
of Los Angeles, ultimate destination New York.<br><br>
After returning to the UK from Africa in her teens, Eroica
attended Cheltenham Art College, always to be found in the
sculpture studios. After this, she disappeared off to live the
island life, in the lighthouse on the Ile de Porquerolles, one
of four Mediterranean islands collectively called the Iles
d'Hyères, located off the Cote d’Azur in the South of France.
Returning to London, she became a fashion model by
happenstance, after being spotted in a street off Berkley
Square, going onto work in London, Paris, Milan, Hamburg
and Munich – both on the catwalk, and for magazine photo-
shoots. She lived full-time in both Milan and Paris during
this period. Eroica then started up as a fashion stylist based
in London, with an extensive client base both at home and
abroad.<br><br>
She moved over to writing after that, attending the
University of East Anglia (UEA) as a mature student on the
BA (Hons.) English Literature with Creative Writing Degree
Course. The UEA is widely seen as ‘the home of creative
writing’ due to its predominant role in pioneering this
course in the UK back in the 1960’s. Eroica’s first novel had
already published prior to attending the UEA, but it was
nevertheless an invaluable clarifying experience going
forward.
              
              
              

                 </p>
    
     <div class = "eroica-photo">
    
    </div>
    
   <div class = "cleario"></div>
    
    

         

</div>
{% endblock %}

{% block slide_3_block %}
<div class = "opac-div" id = "slide_2_hold">


      <div class="slider_titlo about-titlo">
            <span class="slider_titlo_text"><h1>background</h1></span>
           
          </div>
         <div class = "cont-held">
            
            <h3 class = "americano">columnist</h3>

          <p class="news__txt justy slightly-small">
              
              Eroica Mildmay has had column for eighteen months for the <span class = "telegraph-back"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;called <b>Notes from a Norfolk Broad</b>, which
was a humorously rumbustious and much-read countryside-
based column with a dedicated readership both here in the
UK and around the world.
              
          
            


<br><br>
    </p>
    <h3 class = "americano">features writer / journalist</h3>
     <p class="news__txt justy slightly-small">
         
      
         
         Eroica Mildmay worked for <b class = "bigger-nl">North Norfolk LIVING</b> magazine for five years covering all sorts of subjects, interviewing,
often actually taking part (as in microlight flying, canoeing,
wild swimming, deep sea trawling for lobsters, moth hunting
(for research purposes), driving a Royal National Lifeboat
Institution (RNLI) rescue vessel on training exercises
(specifically the extremely fast B Class Atlantic 75) and
many other adventures. She did all the photography for the
articles and obviously wrote the finished product. She had
an extensive and dedicated readership in Norfolk and
beyond.

         
   



<br><br>
</p>
    
    
         <h3 class = "americano">novelist</h3> <p class="news__txt justy slightly-small">
    
    
     Eroica Mildmay has published two novels. Her first <b>Lucker and Tiffany Peel Out</b> came out to excellent critical reviews in most of the leading broadsheets, tabloid newspapers and magazines here in the UK. <b>Lucker and Tiffany Peel Out</b> was also translated into several different languages for the foreign market and optioned for potential film production. Her second novella <b>Home to Angel Cake</b> also received only positive reviews. She has published a selection of short stories, including in the sci-fi genre, many of which have also been translated into foreign languages as well. 

    <br></p>
<p class = "news__txt centy slightly-small">Eroica has just completed a third novel, <b>The Day Gone.</b></p>

    
              
         </div>

        

         

</div>
{% endblock %}

{% block slide_2_block %}


<div class = "opac-div sslide_1_hold" id = "slide_1_hold">

  <div class="slider_titlob">
           
      <div class = "tele-slider-block-hold">
        {% block new-feature %}
        {% endblock %}
          </div>
      
   
           
          </div>
    
    <div class = "press-title-holder">
      
            </div>
        <div class = "press-text">
            <b>
    <h1 class = "americano">press reviews</h1>
           </b> </div>
         <div class = "clear_floats"></div>
   


<div class = "review-div">

{% block review-block %}
    {% endblock %}


    
    </div>

    
</div>

{% endblock %}

{% block slide_4_block %}
<div class = "opac-div flc-divv">


      <div class="slider_titlo about-titlo">
            <span class="slider_titlo_text"><h1>freelance copywriter</h1></span>
           
          </div>
         <div class = "all-cw-text">
     

          <p class="news__txt justy slightly-small">
            


              
              Eroica Mildmay is a professional writer, experienced in
several different genres, having worked as a copywriter, a
features writer, as a journalist and in broadcast comedy. She
is also a published novelist and short story writer. Eroica has
a fresh, original and imaginatively creative approach to copy,
and her manner of delivery and thorough writing style is
crisp, punchy and incisive.
Informative and inventively descriptive, her writing skills
and experience lend verve and clarity to even the most basic
of briefs.


</p>
    
     <h3 class = "americano">what’s wanted?</h3>
    
      <p class="news__txt justy slightly-small">
          
          Bang-up-to-date cutting-edge copy? Or perhaps a more
traditional and classic style of prose is required? Or crisp
formality, known formulas, brochure-speak, clean and clear
instruction manuals, general blurb or perhaps even some
historical context? Need some absolutely plain-speaking no-
frills everyday copy? Or, a poetic approach perhaps, and by
the way, poetical structuring comes easily to Eroica.
Ghostwriting . . . woohoooo, let’s go! A regular blog maybe?
Social media input and output? Engaging website content to
go? Film scripts, no problem? Or, if needed, a comedic twist
(as Eroica is in possession of a sharp wit!) So, if original
thinking, one-off inventiveness, character-driven ideas or
gentle humorous asides are required, or whatever, it’s all
very achievable!


    </p>
    
    <h3 class = "americano">can do this!</h3>
    
      <p class="news__txt justy slightly-small">
          
          Responsive and communicative, and with communication
always being the absolute key, Eroica is able to work from 

even the flimsiest of concepts and enhance and flesh out any
core idea into startling and attention-grabbing copy to suit.
Good observational skills and picking up the idea
immediately is essential in this line of work, as are excellent
on-board proof-reading skills and attention to the overall
presentation.<br><br>
Eroica’s work is always highly finished and delivered in a
timely fashion, as required. The challenge is the fun part and
the satisfaction always comes in doing an outstanding job to
a very high standard.



          </p>
             
             </div>

         

</div>
{% endblock %}




{% block slide_5_block %}
<div class = "contact-remove-slide">

<div class="slider_titlo about-titlo">
            <span class="slider_titlo_text"><h2>interested in working together? hurrah!</h2></span>
           
 </div>
    
    
<div class = "mildmay-contact-text">
    
    <p class="news__txt abcd justy"> Got questions? Need a quote? Drop me an email with the details
    of your project via the contact form to get the ball rolling, and I’ll get straight back to you! <br><br>Or call me . . .</p><p class="news__txt justy">
    
    <i class="fas fa-envelope"></i> eroica@eroicamildmay.co.uk <br>
    <i class="fas fa-phone"></i> +44 (0) 7876 404 454 <br> 
    <i class="fas fa-map-marker-alt"></i> London - Norfolk  </p>
    <p class="news__txt abcd cenneer no-obli">
    
<p class="news__txt justy">

    
Daily Rates<br>
Packages Negotiable<br>
Will work in-house or remotely<br>

UK-based and International clients welcome.
    
  
    
</p>
    
    
    </div>





    <div class='signup sized-su'>
        
         
        
       
    
        
        <div class = "enter-stuff">
 
         <div class = "penis_test" id = "p-test">
             <label>Name:</label>
         <input id = "contact-name" name="con-name-new" class = "con-in line-contact" type='text' placeholder=''  />
             </div>
          <label>Your Contact Details:</label>
       <input id = "email-in" class = "con-in line-contact" type='text' placeholder=''  />
       <div class = "cleario">  </div>
          <label>Write Your Message Here:</label>
        <textarea id = "message-in"  class = "con-in con-text-field right-contact-m" placeholder = ""></textarea>
        <button class = "btn btn-primary" id = "mildmay-submit-but" onclick = 'sendMessage();'>Send Message</button>
            
        </div>
       
       
      
        
        <div class = "cleario"></div>
        
    </div>

      
      
    
 



<div class = "cleario"></div>
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    

    
    function sendMessage(){
        //
        
        alert("message sent");
        sendAJAX();
       

           
             
     
        
    }
    
   
    
    function sendAJAX(){
         var options = {
              type: 'POST',
              url:'contactme',
              data:{
                  namm:$("#contact-name").val(),
                  emm:$("#email-in").val(),
                  mess:$("#message-in").val()
              },
              success : function () {
              alert('SUCCESS');
              }
            };
         $.ajax(options);
    }

   
   
    
   


      

  
    


</script>
   
      
 
    
{% endblock %}








