
{% extends 'opening/mildmaybase.html' %}

{% block optional_cover %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />



<style>

    
     .cover-div{
        background-color: #e3ab20;
        width:100%;
        height:100%;
        position:fixed;
        z-index:999;
    }

    
    
#canvas{ background-image:url("{% static 'newback.jpg' %}");
        background-size:cover;
        margin: 0 auto;
    border:solid;
    border-width:2px;
  border-color:#e3ab20;
    border-left:0;
    border-top:0;
    border-right:0;
    }
    
    
    
    .logo-div{
        width:400px;
        height:400px;
        background-image:url("{% static 'eroica.jpg' %}");
        background-size:cover;
        margin: 0 auto;
    
        
    }
    
    .logo-holder{
        width:100%;
        position:fixed;
        padding-top:170px;
    }
    
   
 
    
    
    
    
    .home-page-icon{
        width:50px;
        height:50px;
        position:fixed;
        color: white;
         
        text-align: center;
        font-size:150%;


    }
    
    .home-page-icon:hover{
        width:70px;
        height:70px;
        color:#727272;
        
        margin:0;
       
    }
   
    
    .hoverText350:hover{
        font-size: 300%;
    }
    
    
    
    .bottom-icon{
        bottom:0;
        margin-bottom:30px;
    }
    .bottom-icon:hover{
       
        margin-bottom:25px;
    }

    .top-icon{
        top:0;
        margin-top:30px;
    }
    .top-icon:hover{
       
        margin-top:20px;
    }
    

    
    .left-icon{
        left:0;
        margin-left:30px;
        
    }
    
    .right-icon{
        right:0;
        margin-right:30px;
    }
     .left-icon:hover{
        left:0;
        margin-left:20px;
        
    }
    .right-icon:hover{
        right:0;
        margin-right:25px;
    }
    
    

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	100% {
	opacity: 1;
	top: 29%;
	}
	65% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	0% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
    width: 20%;
    left:40%;
     right:40%;
     position:fixed;
  
	text-align: center;
     bottom:0;
   
     
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;

    }
    
    .home-pager{
        width:100%;
        position:fixed;
        top:0;
        z-index:1000;
      
      
    }
    
    .can-Diss{
        height:1600px;
    }
    
    .page-cover{
        position:absolute;
   
        z-index:9999999999999999999;
        height:200%;
        width:100%;
    }
    
        .navbar2{
        background-image:url("{% static 'newback.jpg' %}");
        background-size:cover;
        border-color:#e3ab20;
        width:100%;
        position:fixed;
        z-index:1000;
        border-left:0;
        border-right:0;
        border-top:0;
        border-radius:0;
        height:60px;
        
   
    }
    
    #MT{
        color:#e3ab20;
    }
    
    .top-half{
       
        height:50%;
        width:100%;
    
        background-image:url("{% static 'newback.jpg' %}");
        background-size:cover;
    }
    .bottom-half{
  
        height:50%;
        width:100%;
 
    }
    
    
  
    
    
    
    
</style>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">



<div class = "get-rit">
<div class = "page-cover" id = "coverer">
    
    <div class = "top-half">
    <div class = "logo-holder">
        
    
    <div class = "logo-div">
        
        
        
        
        </div>
    </div>






  <span class="scroll-btn bottom-icon">
	
		<span class="mouse">
			<span>
			</span>
            
		</span>
      <p5>scroll down</p5>
	


</span>
    </div>
    <div class = "bottom-half">
    </div>
    
    
  
</div>




    
    
    
    
    



</div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



  <script src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>


  


<script>
    
    /*
    
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/TextGeometry.js'>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/FontUtils.js'>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/pnltri.min.js'>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/droid_sans_bold.typeface.js'>
    
    */
   
   

    
    
    var logoWidth = 30;
    var logoHeight = 30;
    

  

    
    $(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() > $(document).height() - 900) {
       dissappearIcons();
   }
        
         if($(window).scrollTop() + $(window).height() > $(document).height() - 600) {
        $(".logo-holder").fadeOut();
   }
        
   
         if($(window).scrollTop() + $(window).height() > $(document).height() - 300) {
       dissappearTopIcons();
   }
        
           if($(window).scrollTop() + $(window).height() > $(document).height() - 60) {
               
              $(".get-rit").html("");
            document.getElementById("coverer").style.zIndex = "1";
                 
   }
});
    
    
    function dissappearIcons(){
       
      
        
    }
    
        
    function dissappearTopIcons(){
        
   
   
        
    }
    
    
    function loadSecondSlideUp(){
        //add the slider:
        //change z-index:
    }
    





</script>

{% endblock %}
