{% extends 'opening/non-bleep-skirt.html' %}

{% block new-feature %}

 {% load static %}

<style>
    
   .containerefeat {
    overflow: hidden;
    

     width:100%;
    height:100%;
       background-color: grey;
        border-radius:15px;
 
}


.sliding-backgroundfeat {
  background: url("{% static 'photos/tele-feature.png' %}") repeat-x;
  background-size: cover;
  height: 130%;
  width: 130%;
  animation: slide 20s linear infinite;
  animation-direction: alternate;
     border-radius:15px;
}

  
    
@keyframes slide{
  0%{
    transform: translate(0px, 0px);
  }
    
15%{
 
    transform: translate(-50px, -15px);
   
  }
   
 
  100%{
     transform: translate(-325px, -63px);
     width:205%;
    height:205%;
   
    
  }
}


    
    
    
@media only screen and (max-width: 760px) {
    @keyframes slide{
  0%{
    transform: translate(0px, 0px);
  }
    
15%{
 
    transform: translate(-50px, -15px);
   
  }
   
 
  100%{
     transform: translate(-310px, -63px);
     width:205%;
    height:205%;
   
    
  }
}
    
    }
</style>



<div class="containerefeat">
  <div class="sliding-backgroundfeat"></div>
</div>






{% endblock %}








