{% extends 'opening/prog-input.html' %}

{% block tele-skirting %}

 {% load static %}

<style>
    
   
    
    .tele-slider-holder{
        width:5000px;
        height:100%;
        position:absolute;
        margin:0;
     
        height: 50px;
        bottom:0;
        z-index:99999999999999999;
        background: url("{% static 'photos/tele.png' %}") repeat-x;
        background-size: contain;
        animation: slide 60s linear infinite;
    }
    
      @keyframes .slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}

    
   
    
    .slide-back{
         
        
       
    }
    
    .tele-slide{
        position:absolute;
    }
    

    
    .block-1{
        z-index:10;
    }
    
    .block-2{
        z-index:1;
       
    }
    
  
    

</style>




    <div class = "tele-slider-holder">

       
       
        

    </div>



<script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script>


    
    
     

</script>





{% endblock %}






