{% extends 'opening/review-div.html' %}

{% block tele-skirting %}

 {% load static %}

<style>
    
  


.sliding-background {
  background: url("{% static 'photos/tele.png' %}") repeat-x;
 background-size: contain;
  height: 100px;
  width: 6500px;
  animation: slide2 45s linear infinite;
    
}
    
  
  

@keyframes slide2{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-5000px, 0, 0);
  }
}
    
 .containered {
    overflow: hidden;
    position:absolute;
    width:100%;
    bottom:0;
 
}
</style>



<div class="containered">
  <div class="sliding-background"></div>
</div>






{% endblock %}






