{% extends 'opening/review-div.html' %}

{% block tele-skirting %}

 {% load static %}

<style>
    

    
  


.sliding-background {
  background: url("{% static 'photos/tele2.png' %}") repeat-x;
 background-size: contain;
  height: 100px;
  width: 4000px;
  animation: slide2 25s linear infinite;
    
    
}
    
  
  
@keyframes slide2{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1750px, 0, 0);
  }
}
    
 .containered {
    overflow: hidden;
    position:absolute;
    width:100%;
    bottom:0;
 
}
    
            
        /* Smartphones ----------- */
@media only screen and (max-width: 560px) {
   
    
    .sliding-background{
       background: url("{% static 'photos/tele2.png' %}") repeat-x;
 background-size: contain;
  height: 40px;
  width: 7000px;
  animation: slide2 200s linear infinite;
    }
    
        
 .containered {
    overflow: hidden;
    position:absolute;
    width:100%;
    bottom:0;
     z-index:9999999999999999999999999999;
 
}
    
    }
    
</style>



<div class="containered">
  <div class="sliding-background"></div>
</div>






{% endblock %}






