{% extends 'opening/eroicaOpener.html' %}
{% block review-block %}


<style>

    .rev-holder{
        width: 40%;
        padding:8px;
        color:black;
        border:0;
        border-style:solid;
        border-width:2px;
        border-bottom:0;
        border-left:0;
        border-right:0;
        padding-bottom:0;
        margin-bottom:0;
        margin-top:0;
        min-width:325px;
        height:65px;
    }
    
    .review-link-holder{
        
    }
    
    .in-line-reviews{
        display:none;
    }
    
    .review-text-holder{
         float:right;
        width: 75%;
        text-align:center;
    }
    
    .pub-sign{
        text-align:right;
       
    }
    
    
    .justy{
        text-align: justify;
    }
    
    
     @media only screen and (max-width: 760px) {
    
    
      .in-line-reviews{
        display:block;
    }
         
         .wider-reviews{
             display: none;
         }
        
        
    }
    
</style>

<div class = "wider-reviews">
<div class = "rev-holder left_holder">
    
    <div class = "observer-link review-link-holder"></div>
    <div class = "review-text-holder">
    
       <p class = "smaller-text justy">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign"><b>The Observer</b></p>  
    
    </div>
    
    


</div>

<div class = "rev-holder right_holder">
    
    <div class = "i-d-link review-link-holder"></div>
    <div class = "review-text-holder">
    
         <p class = "smaller-text justy">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "smaller-text pub-sign"><b>ID Magazine</b></p>  
    
    </div>
    
   


</div>

<div class = "cleario"></div>

<div class = "rev-holder left_holder">
    
    
     <div class = "daily-link review-link-holder"></div>
    <div class = "review-text-holder">
    
        <p class = "smaller-text justy">'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign"><b>The Daily Mail</b></p>  
    
    </div>
    
    


</div>

<div class = "rev-holder right_holder">
    
    
     <div class = "tls-link review-link-holder"></div>
    <div class = "review-text-holder">
    
         <p class = "smaller-text justy">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>The Times Literary Supplement</b></p>  

    
    </div>
    
  


</div>

<div class = "cleario"></div>

<div class = "rev-holder left_holder">
    
     <div class = "sunday-link review-link-holder"></div>
    <div class = "review-text-holder">
    
        <p class = "smaller-text justy">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
    
    </div>
    
 


</div>

<div class = "rev-holder right_holder">
    
   
   <div class = "independent-link review-link-holder"></div>
    <div class = "review-text-holder">
    
         <p class = "smaller-text justy">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>    
    
    </div>

</div>
    
</div>















<div class = "in-line-reviews">

    <div class = "rev-holder">
    
    <div class = "sunday-link review-link-holder"></div>
    <div class = "review-text-holder">
    
        <p class = "smaller-text ">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
    
    </div>


</div>

<div class = "rev-holder">
    
    <div class = "independent-link review-link-holder"></div>
    <div class = "review-text-holder">
    
       <p class = "smaller-text ">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>  
    
    </div>


</div>

<div class = "cleario"></div>

<div class = "rev-holder">
    
    <div class = "observer-link review-link-holder"></div>
    <div class = "review-text-holder">
    
       <p class = "smaller-text">‘eroica mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign"><b>The Observer</b></p>  
    
    </div>


</div>

<div class = "rev-holder">
    
    <div class = "daily-link review-link-holder"></div>
    <div class = "review-text-holder">
    
        <p>'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign"><b>The Daily Mail</b></p>  
    
    </div>


</div>

<div class = "cleario"></div>

<div class = "rev-holder">
    
    
     <div class = "independent-link review-link-holder"></div>
    <div class = "review-text-holder">
    
       <p class = "smaller-text ">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>  
    
    </div>
    
    
    


</div>

<div class = "rev-holder">
    
    <div class = "tls-link review-link-holder"></div>
    <div class = "review-text-holder">
    
         <p class = "smaller-text">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>Times Literary Review</b></p>  

    
    </div>


</div>
    
</div>




 


{% endblock %}