{% extends 'opening/eroicahome.html' %}
{% block review-block %}


<style>
    
     .rev-holder{
        width: 100%;
        padding:0px;
        color:black;
        padding-bottom:0;
        margin-bottom:0;
        margin-top:0;
        min-width:325px;
       

    }
    
    .in-line-reviews{
        display:none;
    }
    

    
    
    
    
    .review-link-holder{
        float:left;
    }
    
    .bottom-dign{
        margin-top:-10px;
    }
  
    
    .review-text-holder{
     
        height:80px;
        width:71%;
       
    }
    
    
    .itall{
        font-style: italic;
    }
    
    .sunday-funday{
        margin-left:-20px;
        color: red;
        text-align: center;
        
    }
    
    .no_border{
        border-width:0;
    }
    
    .daily-sign{
        padding-top:13px;
    }
    
    .ob-sign{
        position:relative;
      
    }
    
  
    
    .review-text-holder-s{
         
      
        
    }
    
    .review-text-holder-ss{
         
   
        
    }
    
    .pub-sign-r{
        text-align:right;
       
    }
    .pub-sign-l{
        text-align:left;
       
    }
    
    
    .justy{
        text-align: justify;
    }
    
    
    .range-right{
        text-align: right;
    }
    
    .range-left{
        text-align: left;
    }
    
    .all-left-holders{
        float:left;
        width:50%;
       
    }
    
    
    .all-right-holders{
         float:right;
        width:50%;
        
    }
    
        
          .right_holder{
        float:right; 
       
             
              
       
    }
    
          .left_holder{
        float:left;
        
    }
    
    
   
    
   
    
   
    
     @media only screen and (max-width: 560px) {
         
         
         
         .rev-holder{
        padding:8px;
        color:black;
        border:0;
       
        padding-bottom:0;
        margin-bottom:0;
        margin-top:0;
        min-width:325px;
        border-width: 0;
             overflow-x: hidden;

       
    }
    
    
      .in-line-reviews{
        display:block;
   
          
          background-color: red;
       
         
    }
         
         .wider-reviews{
             display: none;
         }
         
         
         
         .review-link-holder{
             display: none;
         }
         
         
          .review-text-holder{
        float:left;
        width: 250px;
             
        text-align:center;
              margin: 0 auto;
               border-width: 0;
            
             
    }
    
  
    
    .review-text-holder-s{
    float:left;
        width: 100%;
        text-align:center;
         width: 250px;
         border-width: 0;
        
    }
    
    .review-text-holder-ss{
 float:left;
        width: 100%;
        text-align:center;
         width: 250px;
        border-width: 0;
    }
     
    
        
        
    }
    
    
    
   
    
</style>

<div class = "wider-reviews">
    
    
    <div class = "all-left-holders">
    
    <div class = "rev-holder  no_border">
    
   
    <div class = "review-text-holder right_holder">
    
       <p class = "range-right">‘Eroica Mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = " news__txt smaller-text pub-sign-r bottom-dign"><b>The Observer</b></p>  
    
    </div>
    
    


</div>
        

        
        
<div class = "cleario"></div>

<div class = "rev-holder">
    
     
    <div class = "review-text-holder right_holder">
    
        <p class = "range-right">A more unlikely outlaw than the discreet <br>Ms Mildmay would be hard to imagine . . .’</p><p class = "news__txt smaller-text pub-sign-r bottom-dign"><b>The Sunday Times</b></p> 
    
    </div>
    
 


</div>
        
        
                
<div class = "cleario"></div>

<div class = "rev-holder">
    
 
    <div class = "review-text-holder right_holder">
    
         <p class = "range-right">‘Rarely less than entertaining,<br> and that’s some achievement . . .’ </p><p class = "news__txt smaller-text pub-sign-r bottom-dign"><b>The Independent</b></p>    
         
    
    </div>
    
    


</div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    <div class = "all-right-holders">
        
        <div class = "rev-holder  no_border">
    

    <div class = "review-text-holder left_holder">
        
        <p class = "range-left">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "news__txt smaller-text pub-sign-l bottom-dign"><b>ID Magazine</b></p>    
    
        
    
    </div>
    
   


</div>
        
        
        <div class = "cleario"></div>
        
        <div class = "rev-holder">
    
    
 
    <div class = "review-text-holder left_holder">
        
          <p class = "range-left">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "news__txt smaller-text pub-sign-l bottom-dign"><b>The Times Literary Supplement</b></p>   
      
    
    </div>
    
  


</div>
        
        
        <div class = "cleario"></div>


<div class = "rev-holder">
    
   
  
    <div class = "review-text-holder-s left_holder">
         
          <p class = "range-left">'Mildmay tells a good story . . .’ </p><p class = "news__txt smaller-text pub-sign-l bottom-dign"><b>The Daily Mail</b></p>   
      
    
        
    
    
    </div>

</div>
        
        
    </div>

    


    


    
    
</div>















<div class = "in-line-reviews no-ovv">

    <div class = "rev-holder left_holder no_border">
    
    <div class = "review-text-holder">
    
       <p class = "smaller-text justy">‘Eroica Mildmay blazes in with Dayglo energy and a witty, angry prose as sharp as lemons . . .’ </p><p class = "smaller-text pub-sign ob-sign"><b>The Observer</b></p>  
    
    </div>
    
    


</div>
    
    

<div class = "rev-holder left_holder no_border">
    
   
    <div class = "review-text-holder-s">
    
         <p class = "smaller-text justy">‘Combines wit, nerve and languid poise in a way almost reminiscent of Martin Amis . . .’ </p><p class = "smaller-text pub-sign"><b>ID Magazine</b></p>  
    
    </div>
    
   


</div>




    
   

<div class = "rev-holder left_holder">
    
    

    <div class = "review-text-holder">
    
         <p class = "smaller-text justy">‘Her flights of fancy description transform cynicism into lyricism . . .’ </p><p class = "smaller-text pub-sign"><b>The Times Literary Supplement</b></p>  

    
    </div>
    
  


</div>



<div class = "rev-holder left_holder">
    
   
    <div class = "review-text-holder-s">
    
        <p class = "smaller-text justy">A more unlikely outlaw than the discreet Ms Mildmay would be hard to imagine . . .’</p><p class = "smaller-text pub-sign"><b>The Sunday Times</b></p> 
    
    </div>
    
 


</div>
    
   

<div class = "rev-holder left_holder">
    
   
   
    <div class = "review-text-holder-s">
    
         <p class = "smaller-text justy">‘Rarely less than entertaining, and that’s some achievement ...’ </p><p class = "smaller-text pub-sign"><b>The Independent</b></p>    
    
    </div>
    
    
    

</div>
    
    <div class = "rev-holder left_holder">
    
    
   
    <div class = "review-text-holder">
    
        <p class = "smaller-text justy">'Mildmay tells a good story ...’ </p><p class = "smaller-text pub-sign daily-sign"><b>The Daily Mail</b></p>  
    
    </div>
    
    


</div>
    
    
    
    
</div>




 


{% endblock %}